body {
font-family: Verdana, Arial;
font-size: 70%;
line-height: 160%;
background-color: #ffd;
}
a:visited { color: #00f; }
h1 { font-size: 1.75em; font-weight: normal; }
p { margin: 0; padding: 0; }
span.title { color: #a22; font-size: 1.0em; }
span.label { font-weight: bold; }
.fleft { float: left; }
.fright { float: right; padding-right: 0.5em;}
.mode { float: left; background-color: #eee; display: inline; }
.printinvisible { display: none; }

div.element {
border: 1px solid #ddd;
background-color: #fff;
padding: 0.5em 0.75em;
margin: 1em 0;
}

div.element a {
text-decoration: none;
border-bottom: 1px solid #ecc;
}
div.element a:hover { background-color: #fee; }
div.element ul { margin-top: 0.25em; }
div.element ul li { margin-bottom: 0.25em; }
div.indent0, p.indent0 {  }
div.indent1, p.indent1 { margin-left: 2em; margin-top: 0.5em; }
div.indent2, p.indent2 { margin-left: 4em; padding-top: 0.25em; clear: both; }
div.indent3, p.indent3 { margin-left: 6em; margin-top: 0.25em; }
div.indent4, p.indent4 { margin-left: 8em; margin-top: 0.25em; margin-bottom: 0.5em; }