<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC 
      "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<distributable/>
   	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<filter>
	    <filter-name>MultipartFilter</filter-name>
	    <filter-class>org.apache.myfaces.component.html.util.MultipartFilter</filter-class>
		<init-param>
			<param-name>uploadMaxFileSize</param-name>
			<param-value>10m</param-value>
		</init-param>
		<init-param>
			<param-name>uploadThresholdSize</param-name>
			<param-value>1m</param-value>
		</init-param>
		<init-param>
			<param-name>uploadRepositoryPath</param-name>
			<param-value>/tmp</param-value>
		</init-param>
	</filter>
	<filter>
	    <filter-name>CloseTxFilter</filter-name>
	    <filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.CloseTransactionFilter</filter-class>
	</filter>
	<filter>
	    <filter-name>CheckUserViewFilter</filter-name>
	    <filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.CheckUserViewFilter</filter-class>
	</filter>
	<filter>
	    <filter-name>indexFilter</filter-name>
	    <filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.RequestWrapperFilter</filter-class>
	</filter>
	<filter>
	    <filter-name>ManagerFilter</filter-name>
	    <filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.ManagerFilter</filter-class>
	</filter>
	<filter>
		 <filter-name>profiling</filter-name>
		 <filter-class>com.atlassian.util.profiling.filters.ProfilingFilter</filter-class>
		 <init-param>
			 <!-- specify the which HTTP parameter to use to turn the filter on or off -->
	 		 <!-- if not specified - defaults to "profile.filter" -->
	 		 <param-name>activate.param</param-name>
	  		 <param-value>app_profile</param-value>
	 	 </init-param>
	 	 <init-param>
	 		<!-- specify the whether to start the filter automatically -->
	 		<!-- if not specified - defaults to "true" -->
	 		<param-name>autostart</param-name>
	 		<param-value>true</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CacheFilter</filter-name>
		<filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.FenixCacheFilter</filter-class>
		<init-param>
			<param-name>time</param-name>
			<param-value>600</param-value>
		</init-param>
		<init-param>
			<param-name>exclude-url-pattern</param-name>
			<param-value>chooseExamsMapContextDANew.do</param-value>
		</init-param>
	</filter>
	<filter>
	    <filter-name>I18NFilter</filter-name>
	    <filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.I18NFilter</filter-class>
	</filter>
    <filter>
        <filter-name>GeneralForwardFilter</filter-name>
        <filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.GeneralForwardFilter</filter-class>
        <init-param>
            <param-name>notFoundURI</param-name>
            <param-value>/publico/notFound.do</param-value>
        </init-param>
        <init-param>
            <param-name>siteListURI</param-name>
            <param-value>/publico/showExecutionCourseSites.do?method=listSites&amp;degreeOID=%s</param-value>
        </init-param>
        <init-param>
            <param-name>siteURI</param-name>
            <param-value>/publico/executionCourse.do?method=firstPage&amp;executionCourseID=%s</param-value>
        </init-param>
        <init-param>            
            <param-name>scheduleListURI</param-name>
            <param-value>/publico/showClasses.do?method=listClasses&amp;degreeOID=%s</param-value>
        </init-param>
        <init-param>            
            <param-name>classScheduleURI</param-name>
            <param-value>/publico/viewClassTimeTableNew.do?classId=%s&amp;className=%s&amp;degreeCurricularPlanID=%s&amp;nameDegreeCurricularPlan=%s&amp;degreeID=%s&amp;degreeInitials=%s</param-value>
        </init-param>
        <init-param>      
            <param-name>examListURI</param-name>
            <param-value>/publico/chooseExamsMapContextDANew.do?method=choose&amp;degreeID=%s</param-value>
        </init-param>
        <init-param>            
            <param-name>degreeURI</param-name>
            <param-value>/publico/showDegreeSite.do?method=showDescription&amp;executionPeriodOID=%s&amp;degreeID=%s</param-value>
        </init-param>
        <init-param>            
            <param-name>sectionURI</param-name>
            <param-value>/publico/executionCourse.do?method=section&amp;executionCourseID=%s&amp;sectionID=%s</param-value>
        </init-param>
        <init-param>            
            <param-name>itemURI</param-name>
            <param-value>/publico/executionCourse.do?method=section&amp;executionCourseID=%s&amp;sectionID=%s#item%s</param-value>
        </init-param>
    </filter>
	<filter>
		<filter-name>CASFilter</filter-name>
		<filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.authentication.cas.CASFilter</filter-class>
    </filter>
	<filter>
		<filter-name>HomepageFilter</filter-name>
		<filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.HomepageFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PathAccessControlFilter</filter-name>
        <filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.PathAccessControlFilter</filter-class>
        <init-param>
            <param-name>use-request-path</param-name>
            <param-value>true</param-value> 
        </init-param>
    </filter>
    <filter>
        <filter-name>FunctionalityAccessFilter</filter-name>
        <description>
            This filter is used to check a requested path agains the model of functionalities. 
            The request proceeds normally if the path is not mapped in the model or if the targeted 
            functionality does not have an availability policy defined.
        </description>
        <filter-class>net.sourceforge.fenixedu.presentationTier.servlets.filters.functionalities.CheckAvailabilityFilter</filter-class>
        <init-param>
            <!-- the value of this param MUST be the same as the prefix for the url-pattern below 
                 but without the trailing 
              -->
            <param-name>testing.prefix</param-name>
            <param-value>/manager/functionalities/test</param-value>
        </init-param>
        <init-param>
            <param-name>error.page</param-name>
            <param-value>/manager/functionalities/error/notAvailable.do</param-value>
        </init-param>
    </filter>
    	
	<!-- Filter Mapping -->
    <filter-mapping>
        <filter-name>PathAccessControlFilter</filter-name>
        <url-pattern>/*</url-pattern><!-- generate mappings only for paths that have restrictions configured -->
    </filter-mapping>
	<filter-mapping>
		<filter-name>MultipartFilter</filter-name>
		<url-pattern>*.faces</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CloseTxFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>I18NFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ManagerFilter</filter-name>
		<url-pattern>/manager/@manager.filter.pattern@</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ManagerFilter</filter-name>
		<url-pattern>/domainbrowser/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ManagerFilter</filter-name>
		<url-pattern>/setAcceptanceTestMode/@manager.filter.pattern@</url-pattern>
	</filter-mapping>
	<filter-mapping>
	    <filter-name>indexFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
 		 <filter-name>profiling</filter-name>
 		 <url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
 		 <filter-name>profiling</filter-name>
 		 <url-pattern>*.do</url-pattern>
	</filter-mapping>
<!-- 
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>/publico/*</url-pattern>
	</filter-mapping>
-->
	<filter-mapping>
		<filter-name>HomepageFilter</filter-name>
		<url-pattern>/homepage/*</url-pattern>
	</filter-mapping>
    <filter-mapping>
        <filter-name>GeneralForwardFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>CheckUserViewFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckUserViewFilter</filter-name>
		<url-pattern>*.faces</url-pattern>
	</filter-mapping>
   	<filter-mapping>
	    <filter-name>CASFilter</filter-name>
	    <url-pattern>/loginCAS.do</url-pattern>
    </filter-mapping>
   	<filter-mapping>
	    <filter-name>CASFilter</filter-name>
	    <url-pattern>/loginPage.jsp</url-pattern>
    </filter-mapping>

   	<filter-mapping>
	    <filter-name>CASFilter</filter-name>
	    <url-pattern>/login.do</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>FunctionalityAccessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Listeners -->
	<listener>
		<listener-class>
			com.sun.faces.config.ConfigureListener
		</listener-class>
	</listener>
	<servlet>
        <servlet-name>StartupServlet</servlet-name>
        <servlet-class>net.sourceforge.fenixedu.presentationTier.servlets.startup.StartupServlet</servlet-class>
        <init-param>
            <param-name>domainmodel</param-name>
            <param-value>/WEB-INF/classes/domain_model.dml</param-value>
        </init-param>        
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>net.sourceforge.fenixedu.presentationTier.servlets.jsf.FenixFacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/conf/struts-default.xml</param-value>
        </init-param>
        <init-param>
            <param-name>application</param-name>
            <param-value>resources.ApplicationResources</param-value>
        </init-param>
        <init-param>
            <param-name>config/sop</param-name>
            <param-value>/WEB-INF/conf/struts-sop.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/student</param-name>
            <param-value>/WEB-INF/conf/struts-student.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/publico</param-name>
            <param-value>/WEB-INF/conf/struts-publico.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/candidate</param-name>
            <param-value>/WEB-INF/conf/struts-candidate.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/candidato</param-name>
            <param-value>/WEB-INF/conf/struts-masterDegreeCandidate.xml</param-value>
        </init-param>        
        <init-param>
            <param-name>config/posGraduacao</param-name>
            <param-value>/WEB-INF/conf/struts-masterDegreeAdministrativeOffice.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/teacher</param-name>
            <param-value>/WEB-INF/conf/struts-teacher.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/treasury</param-name>
            <param-value>/WEB-INF/conf/struts-treasury.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/coordinator</param-name>
            <param-value>/WEB-INF/conf/struts-coordinator.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/person</param-name>
            <param-value>/WEB-INF/conf/struts-person.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/employee</param-name>
            <param-value>/WEB-INF/conf/struts-employee.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/assiduousness</param-name>
            <param-value>/WEB-INF/conf/struts-assiduousness.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/manager</param-name>
            <param-value>/WEB-INF/conf/struts-manager.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/manager/functionalities</param-name>
            <param-value>/WEB-INF/conf/struts-functionalities.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/degreeAdministrativeOffice</param-name>
            <param-value>/WEB-INF/conf/struts-degreeAdministrativeOffice.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/credits</param-name>
            <param-value>/WEB-INF/conf/struts-credits.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/scientificCouncil</param-name>
            <param-value>/WEB-INF/conf/struts-scientificCouncil.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/operator</param-name>
            <param-value>/WEB-INF/conf/struts-operator.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/webSiteManager</param-name>
            <param-value>/WEB-INF/conf/struts-webSiteManager.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/facultyAdmOffice</param-name>
            <param-value>/WEB-INF/conf/struts-facultyAdmOffice.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/departmentAdmOffice</param-name>
            <param-value>/WEB-INF/conf/struts-departmentAdmOffice.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/gep</param-name>
            <param-value>/WEB-INF/conf/struts-gep.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/directiveCouncil</param-name>
            <param-value>/WEB-INF/conf/struts-directiveCouncil.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/delegate</param-name>
            <param-value>/WEB-INF/conf/struts-delegate.xml</param-value>
        </init-param>
	    <init-param>
            <param-name>config/managementAssiduousness</param-name>
            <param-value>/WEB-INF/conf/struts-managementAssiduousness.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/projectsManagement</param-name>
            <param-value>/WEB-INF/conf/struts-projectsManagement.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/institucionalProjectsManagement</param-name>
            <param-value>/WEB-INF/conf/struts-projectsManagement.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/external</param-name>
            <param-value>/WEB-INF/conf/struts-external.xml</param-value>
        </init-param>        
        <init-param>
            <param-name>config/departmentMember</param-name>
            <param-value>/WEB-INF/conf/struts-departmentMember.xml</param-value>
        </init-param>     
        <init-param>
            <param-name>config/bolonhaManager</param-name>
            <param-value>/WEB-INF/conf/struts-bolonhaManager.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/SpaceManager</param-name>
            <param-value>/WEB-INF/conf/struts-spaceManager.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/researcher</param-name>
            <param-value>/WEB-INF/conf/struts-researcher.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/examCoordination</param-name>
            <param-value>/WEB-INF/conf/struts-examCoordinator.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/pedagogicalCouncil</param-name>
            <param-value>/WEB-INF/conf/struts-pedagogicalCouncil.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/alumni</param-name>
            <param-value>/WEB-INF/conf/struts-alumni.xml</param-value>
        </init-param>
		<init-param>
            <param-name>config/messaging</param-name>
            <param-value>/WEB-INF/conf/struts-messaging.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/parkingManager</param-name>
            <param-value>/WEB-INF/conf/struts-parkingManager.xml</param-value>
        </init-param>  
        <init-param>
            <param-name>config/academicAdminOffice</param-name>
            <param-value>/WEB-INF/conf/struts-academicAdminOffice.xml</param-value>
        </init-param>         
        <init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>validating</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>DomainBrowser</servlet-name>
        <servlet-class>net.sourceforge.fenixedu.presentationTier.servlets.DomainBrowserServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SetAcceptanceTestMode</servlet-name>
        <servlet-class>net.sourceforge.fenixedu.presentationTier.servlets.SetAcceptanceTestModeServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
		<servlet-name>dwr-invoker</servlet-name>
		<display-name>DWR Servlet</display-name>
		<servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
    <servlet>
        <servlet-name>AutoCompleteServlet</servlet-name>
        <servlet-class>net.sourceforge.fenixedu.presentationTier.servlets.ajax.AutoCompleteServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>MathMlServlet</servlet-name>
        <servlet-class>net.sourceforge.fenixedu.presentationTier.servlets.MathMlServlet</servlet-class>
    </servlet>
    
    <!-- Servlet Mapping -->
   	<servlet-mapping>
		<servlet-name>MathMlServlet</servlet-name>
		<url-pattern>/mathml/MathMlServlet</url-pattern>
	</servlet-mapping>
   	<servlet-mapping>
		<servlet-name>AutoCompleteServlet</servlet-name>
		<url-pattern>/ajax/AutoCompleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>	
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.faces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAcceptanceTestMode</servlet-name>
        <url-pattern>/setAcceptanceTestMode/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DomainBrowser</servlet-name>
        <url-pattern>/domainbrowser/*</url-pattern>
    </servlet-mapping>

	<session-config>
			<session-timeout>120</session-timeout>
	</session-config>

	<error-page>
	    <exception-type>net.sourceforge.fenixedu.accessControl.IllegalDataAccessException</exception-type>
	    <location>/exception/notAuthorizedForward.jsp</location>
	</error-page>
	<error-page>
	    <exception-type>java.lang.Exception</exception-type>
	    <location>/showErrorPage.do</location>
	</error-page>

    <taglib>
        <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/app.tld</taglib-uri>
        <taglib-location>/WEB-INF/app.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/c.tld</taglib-uri>
        <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/html_basic.tld</taglib-uri>
        <taglib-location>/WEB-INF/html_basic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/jsf_core.tld</taglib-uri>
        <taglib-location>/WEB-INF/jsf_core.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/jsf_tiles.tld</taglib-uri>
        <taglib-location>/WEB-INF/jsf_tiles.tld</taglib-location>
    </taglib>
	<taglib>
		<taglib-uri>/WEB-INF/taglibs-datetime.tld</taglib-uri>
		<taglib-location>/WEB-INF/taglibs-datetime.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/taglibs-string.tld</taglib-uri>
		<taglib-location>/WEB-INF/taglibs-string.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/fenix-renders.tld</taglib-uri>
		<taglib-location>/WEB-INF/fenix-renders.tld</taglib-location>
	</taglib>
	
	<security-constraint>
		<web-resource-collection>
	          <web-resource-name>KerberosPasswordCheck</web-resource-name>
	          <description />
	          <url-pattern>/checkKerberosPassword.do</url-pattern>
	          <http-method>POST</http-method>
	          <http-method>GET</http-method>
	     </web-resource-collection>
	     <user-data-constraint>
	          <description>SSL</description>
	          <transport-guarantee>CONFIDENTIAL</transport-guarantee>
	     </user-data-constraint>
	</security-constraint>

</web-app>