<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC 
      "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<filter>
	    <filter-name>indexFilter</filter-name>
	    <!--<filter-class>ServidorApresentacao.servlets.filters.RequestWrapperFilter</filter-class>-->
		<filter-class>ServidorApresentacao.servlets.filters.RequestWrapperCacheFilter</filter-class>
		<!--<filter-class>ServidorApresentacao.servlets.filters.RequestWrapperCaptureFilter</filter-class>-->
	</filter>
	<filter>
		 <filter-name>profiling</filter-name>
		 <filter-class>com.atlassian.util.profiling.filters.ProfilingFilter</filter-class>
		 <init-param>
			 <!-- specify the which HTTP parameter to use to turn the filter on or off -->
	 		 <!-- if not specified - defaults to "profile.filter" -->
	 		 <param-name>activate.param</param-name>
	  		 <param-value>app_profile</param-value>
	 	 </init-param>
	 	 <init-param>
	 		<!-- specify the whether to start the filter automatically -->
	 		<!-- if not specified - defaults to "true" -->
	 		<param-name>autostart</param-name>
	 		<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
	    <filter-name>indexFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
 		 <filter-name>profiling</filter-name>
 		 <url-pattern>/*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
 		 <filter-name>profiling</filter-name>
 		 <url-pattern>*.do</url-pattern>
	</filter-mapping>
    <servlet>
        <servlet-name>StartupServlet</servlet-name>
        <servlet-class>ServidorApresentacao.servlets.startup.StartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/conf/struts-default.xml</param-value>
        </init-param>
        <init-param>
            <param-name>application</param-name>
            <param-value>ServidorApresentacao.ApplicationResources</param-value>
        </init-param>
        <init-param>
            <param-name>config/sop</param-name>
            <param-value>/WEB-INF/conf/struts-sop.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/student</param-name>
            <param-value>/WEB-INF/conf/struts-student.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/publico</param-name>
            <param-value>/WEB-INF/conf/struts-publico.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/candidato</param-name>
            <param-value>/WEB-INF/conf/struts-candidate.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/posGraduacao</param-name>
            <param-value>/WEB-INF/conf/struts-masterDegreeAdministrativeOffice.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/teacher</param-name>
            <param-value>/WEB-INF/conf/struts-teacher.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/treasury</param-name>
            <param-value>/WEB-INF/conf/struts-treasury.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/coordinator</param-name>
            <param-value>/WEB-INF/conf/struts-coordinator.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/person</param-name>
            <param-value>/WEB-INF/conf/struts-person.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/employee</param-name>
            <param-value>/WEB-INF/conf/struts-employee.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/assiduousness</param-name>
            <param-value>/WEB-INF/conf/struts-assiduousness.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/manager</param-name>
            <param-value>/WEB-INF/conf/struts-manager.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/degreeAdministrativeOffice</param-name>
            <param-value>/WEB-INF/conf/struts-degreeAdministrativeOffice.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/credits</param-name>
            <param-value>/WEB-INF/conf/struts-credits.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/equivalence</param-name>
            <param-value>/WEB-INF/conf/struts-equivalence.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/scientificCouncil</param-name>
            <param-value>/WEB-INF/conf/struts-scientificCouncil.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/operator</param-name>
            <param-value>/WEB-INF/conf/struts-operator.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/webSiteManager</param-name>
            <param-value>/WEB-INF/conf/struts-webSiteManager.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/facultyAdmOffice</param-name>
            <param-value>/WEB-INF/conf/struts-facultyAdmOffice.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/departmentAdmOffice</param-name>
            <param-value>/WEB-INF/conf/struts-departmentAdmOffice.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/gep</param-name>
            <param-value>/WEB-INF/conf/struts-gep.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/directiveCouncil</param-name>
            <param-value>/WEB-INF/conf/struts-directiveCouncil.xml</param-value>
        </init-param>
        <init-param>
            <param-name>config/delegate</param-name>
            <param-value>/WEB-INF/conf/struts-delegate.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>3</param-value>
        </init-param>
        <init-param>
            <param-name>validating</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
	<session-config>
			<session-timeout>120</session-timeout>
	</session-config>    

	<error-page>
	    <exception-type>java.lang.Exception</exception-type>
	    <location>/showErrorPage.do</location>
	</error-page>

    <taglib>
        <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/app.tld</taglib-uri>
        <taglib-location>/WEB-INF/app.tld</taglib-location>
    </taglib>
  <taglib>
    <!--<taglib-uri>http://jakarta.apache.org/taglibs/datetime-1.0</taglib-uri>-->
    <taglib-uri>/WEB-INF/taglibs-datetime.tld</taglib-uri>
    <taglib-location>/WEB-INF/taglibs-datetime.tld</taglib-location>
  </taglib>    
</web-app>

