target/
.settings/
jetty/
deploy/
configuration.properties
output/
.classpath
build.properties.fenixIST
build.properties.local
build.properties.slave
fenix-framework.properties
configuration.properties.fenix
configuration.properties.localhost
/target
src/main/resources/fonts/*arial
src/main/resources/fonts/*Arial
