target/
.settings/
jetty/
deploy/
configuration.properties
output/
.classpath
build.properties.fenixIST
build.properties.local
build.properties.slave
configuration.properties.fenix
configuration.properties.localhost
/target
.actionAnnotationLog
