app.name=ciapl

app.path=/${app.name}
manager.password=admin
manager.url=http://localhost:8080/manager
manager.username=admin

# Tokens for replace
db.name=ciapl
db.user=root
db.pass=
db.alias=//localhost:3306/ciapl?useUnicode=true&amp;characterEncoding=latin1

db.assiduousness.name=AssiduidadeOracleTeste
db.assiduousness.platform=MySQL
db.assiduousness.driver=com.mysql.jdbc.Driver
db.assiduousness.protocol=jdbc
db.assiduousness.subprotocol=mysql
db.assiduousness.user=root
db.assiduousness.pass=
db.assiduousness.alias=//localhost:3306/AssiduidadeOracleTeste
db.assiduousness.validationQuery=select 1

db.personFilter.name=personFilter
db.personFilter.platform=MySQL
db.personFilter.driver=com.mysql.jdbc.Driver
db.personFilter.protocol=jdbc
db.personFilter.subprotocol=mysql
db.personFilter.user=root
db.personFilter.pass=
db.personFilter.alias=//localhost:3306/personFilter
db.personFilter.validationQuery=select 1
db.personFilter.other=-1
db.personFilter.errorFile=FicheiroErros.txt
db.personFilter.log=true

db.slide.driver=com.mysql.jdbc.Driver
db.slide.alias=mysql://localhost:3306/slide
db.slide.user=root
db.slide.pass=
slide.config=D:\\\\eclipse-M3\\\\workspace\\\\fenix-head\\\\build\\\\app\\\\WEB-INF\\\\classes\\\\Domain.xml

ftp.IST.server.user=ciist
ftp.IST.server.pass=desenvolvimento
ftp.IST.server.address=saladd2.ist.utl.pt

ftp.degree.grades.server.user=user
ftp.degree.grades.server.pass=pass
ftp.degree.grades.server.address=address

login.page=https://fenix.ist.utl.pt/privado
application=extranet
validation.doctype=<!DOCTYPE form-validation PUBLIC "-//Apache Software Foundation//DTD Commons Validator Rules Configuration 1.0//EN" "file:///D:/eclipse-M3/workspace/fenix-head/metadata/dtds/validator_1_0.dtd">

index.html.link=publico/index.do?method=prepare&amp;page=0