<div class="row">
  <div class="col-lg-12 fenixEduBar">
    <h1 class="institutionLogo">
      <a href="{{contextPath}}/" target="_blank">{{ applicationTitle | mls }}</a>
    </h1>
    <div class="authentication">
      {% if not name %}
      <h1 class="logout">
        <a class="button" href="{{contextPath}}/loginPage.jsp">Login</a>
      </h1>
      {% else %}
      <p class="user">
        {{name}}
      </p>
    
      {% if developmentMode %}
      <h1>
        <a class="button">DEVELOPMENT</a>
      </h1>
      {% endif %}
      
      <h1 class="logout">
        <a class="button" href="{{contextPath}}/logoff.do">Logout</a>
      </h1>
      {% endif %}
    </div>
  </div>
</div>
<div class="content">
<header class="row" role="banner">
  <div class="col-sm-2 logo-container text-center">
    <img src="{{contextPath}}/api/bennu-portal/configuration/logo" alt="FenixEdu"/>
  </div>
  <nav class="col-sm-10" role="navigation">
    <ul class="nav navbar-bottom nav-pills nav-menu">
    {% for item in menu %}
      <li class="{% if item.selected %}active{% endif %}"><a href="{{contextPath}}{{item.fullPath}}">{{item.title | mls}}</a></li>
    {% endfor %}
    </ul>
  </nav>
</header>

<div class="row">
  <nav class="col-sm-2" id="context">
  {% for item in menu %}
  {% if item.selected %}
    <ul class="nav nav-pills nav-stacked" menu="{{item.id}}">
      <li class="navheader"><strong>{{item.title | mls}}</strong></li>
      {% for child in item.menu %}
        <li><a href="{{contextPath}}{{child.fullPath}}">{{child.title | mls}}</a></li>
      {% endfor %}
    </ul>
	{% endif %}
  {% endfor %}
  </nav>
  <main class="col-sm-10">
    <ol class="breadcrumb">
      <span class="pull-right">
        {% for loc in locales %}
          <a class="locale-changer {% if loc.tag == locale.tag %}active{% endif %}" onclick="setLang('{{loc.tag}}')">{{loc.tag}}</a>
        {% endfor %}
      </span>
    </ol>
    <div id="content">
    </div>
  </main>
</div>
</div>
    <footer class="row" role="contentinfo" >
        <div class="col-sm-2 text-center">
          <img src="{{themePath}}/img/logo_fenixedu_footer.svg" alt="Powered by FenixEdu">
        </div>
        <p class="col-sm-10">
          <span>{{ applicationCopyright | mls}}</span>
          <a href="{{contextPath}}/exceptionHandlingAction.do?method=prepareSupportHelp&contextId={{functionality.externalId}}" target="_blank">
            Support
          </a>
        </p>
    </footer>


<link rel="stylesheet" type="text/css" media="screen" href="{{contextPath}}/CSS/general.css">
<script>
	$("head").append('<link rel="shortcut icon" type="image/x-icon" href="{{contextPath}}/api/bennu-portal/configuration/favicon">');
</script>

<script src="{{contextPath}}/themes/default/js/bootstrap.min.js"></script>

<script> setLang = function(l) {
  $.post('{{contextPath}}/api/bennu-core/profile/locale/' + l.replace('_', '-')).always(function() { location.reload(); });
}
</script>