/* Tabs
----------------------------------*/
.ui-tabs { padding: 0; }
.ui-tabs .ui-tabs-nav { padding: 5px 5px 0 5px; position: relative; height: 2em;}
.ui-tabs .ui-tabs-nav li { float: left; border-bottom: 0 !important; margin: 0 0.4em -1px 0; padding: 0; list-style: none; }
.ui-tabs .ui-tabs-nav li a { display:block; text-decoration: none; padding: 0.5em 1em; height: 1em;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0em; border-bottom: 0; }
.ui-tabs .ui-tabs-panel { padding: 1em 1.4em; display: block; border: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }