.timetable{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #003333;
	text-decoration: bold;
	border-collapse:collapse;
	border-color: #000;
	border-width: 2px;
	border-style: solid;
}

.timetable tr{
	font-size: 9px;
	color: #003333;
	font-weight:bold;
	background-color: #E1E1E1;
	text-align: left;
}

.timetable th{
	font-size: 11px;
	color: #333333;
	background-color: #999999;
	text-align: center;
	height: 20px;
	vertical-align: middle;
	border-style:solid;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 1.5px;
	border-right-width: 1.5px
}

.period-first-slot{
	border-width: 1.5px;
	border-style: solid;
	border-top-style:solid;
	border-bottom-style:none;
}

.period-middle-slot{
	border-width: 1.5px;
	border-right-style: solid;
	border-left-style: solid;
}

.period-last-slot{
	border-width: 1.5px;
	border-style: solid;
	border-top-style:none;
}

.period-empty-slot{
	border-width: 1px;
	border-top-style: dashed;
	border-left-style: solid;
	border-right-style: solid;
}

.period-hours {
	font-size: 11px;
	color: #333333;
	background-color: #999999;
	text-align: center;
	height: 20px;
	vertical-align: middle;
	border-style:solid;
	border-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px
}

.timetable a{
	color: #003333;
	font-weight: bold;
	font-size: 9px;	
	border-style:none;
}