.nostyle { list-style: none; }
.style2 { }

table.style2 {
	margin-bottom: 1em;
	border-collapse: collapse;
	width: 70%;
	}
table.style2 tr.header {
	border-bottom: 2px solid #ccc;
	}
table.style2 th {
	padding: 0.5em 1em;
	border: 1px solid #ddd;
	/*border: none;*/
	background-color: #f5f5f5;
	font-weight: normal;
	}
table.style2 td {
	padding: 0.25em 1em;
	/*background-color: #fafafa;*/
	border: none;
	border: 1px solid #ddd;
	}
table.style2 td.courses {
	border-right: 1px solid #eee;
	background-color: #ffe;
	padding: 0 1em;
	}
table.style2 td.style2_footer {
	border: 1px solid #eee;
	background-color: #fafafa;
}
table tr.highlight td.listClasses {
background-color: #e9fee9;
}

.highlight01 { background-color: #ffc; }
.aright { text-align: right;}
.aleft { text-align: left;}
.indent1 { margin-left: 2em;}
.indent2 { margin-left: 4em;}
.indent3 { margin-left: 6em;}
table.style2 td.indentp1 { padding-left: 3em;}
table.style2 td.indentp2 { padding-left: 6em;}
table.style2 td.indentp3 { padding-left: 9em;}
table.style2 td.margintop { margin-top: 2em;}