/* dotist CSS - 27.08.2003 
   by Bruno Monteiro @ GAEL
*/
	
/**************************************** 
	Global Text Proprieties 
*****************************************/

body {
	color: #333;
	text-align: left;
	background: #369;
	margin: 0;
	padding: 0;
	font-size: 71%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	}

.center { text-align: center; }
.left { text-align: left; }

table {
	color: #333;
	}

h1, h2, h3 { font-family: Trebuchet MS, Arial, Helvetica, sans-serif; }

h1	{
	font-size: 1.7em;
	color: #fff;
	}

h2	{
	font-size: 1.7em;
	color: #223d4a;
	}

h3 {
	font-size: 1.25em;
	color: #223d4a;
	}
h4 {
	font-size: 1.0em;
	color: #223d4a;
	}




/******************************************
	Global Links Proprieties
*******************************************/

a:link, a:visited {
	color: #00427b;
	text-decoration: underline;
	}

a:hover {
	color: #00427b;
	text-decoration: none;
	}

/********************************************
	Structural & Templating Classes
********************************************/

.centerContent {
	text-align: center;
	}

#header {
	display: block;
	height: 70px;
	background: url("../images/header_bck.gif") repeat-x top;
	padding: 0 0 0 20px;
	margin: 0;
	}
	
#header p {
	position: absolute;
	top: 30px;
	right: 20px;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.15em;
	font-weight: bold;
	color: #fff;
	margin: 0;
	padding: 0;
	}

/*
	suporte and logoff nav
*/

#hdr-nav {
	position: absolute;
	top: 0;
	right: 15px;
	width: 250px;
	text-align: right;
	margin-right: -15px; /* IE5/Mac hor-scr hack */
	padding: 0;
	}

#hdr-nav img{
	border: 0;
	}

/*
	site-wide navigation
*/











#navgeral ul {
	margin: 0;
	padding: 0;
	}
#navgeral ul li {
	margin: 0;
	padding: 0;
	}
#navgeral {
	float: left;
	width: 100%;
	font-size: 1.0em;
	padding-top: 0.25em;
	}
#navgeral ul {
	margin: 0;
	margin-left: 150px;
	list-style: none;
	}
#navgeral li {
	float: left;
	margin: 0;
	padding: 0;
	}
#navgeral li a {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	float: left;
	margin: 0 9px 0 9px;
	padding: 0.25em 0 0.15em 0;
	font-size: 100%;
	font-weight: normal;
	text-decoration: none;
	white-space: nowrap;
	}
#navgeral span {	
	float: left;
	margin: 0 1px 0 0;
	padding: 0.75em 1em;
	font-size: 100%;
	font-weight: normal;
	text-decoration: none;
	}
#navgeral {
border-bottom: 2px solid #223D4A;
background: #c0a488;  
}
#navgeral li a {
color: #223d4a;
border-bottom: 4px solid #c0a488;
}
#navgeral li a:hover {
text-decoration: underline  /* show to IE5 */
/* check bottom of the page for the hack */
}
#navgeral a.active, #navgeral li.active a {
border-bottom: 4px solid #223D4A;
}
/* IE5 navgeral bug correction */

body {
voice-family: "\"}\""; 
voice-family: inherit;
}
#navgeral li a:hover {
text-decoration: none;
border-bottom: 4px solid #369; 
}


div.clear { clear: both; }

/*
	end site-wide navigation
*/


#logged {
	clear: both;
	float: left; width: 100%; /* show to IE5 */
	background: #cc9;
	font-size: 0.9em;
	color: #666;
	border-bottom: 1px solid #C0A488;
	margin: 0;
	padding: 5px 10px 5px 10px;
	voice-family: "\"}\"";
	voice-family:inherit;
	float: none;
	width: auto;
	}

#logged * {  margin: 0; padding: 0; } /* duplicate line because of IE5 filter */
#logged * {  margin: 0; padding: 0; }

.user {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	/*background: #f00;*/
	}
	
.info {
	float: right;
	width: 300px;
	text-align: right;
	vertical-align: top;
	margin: 0;
	padding: 0;
	/*background: #f00;*/
	}











#bodycontent {
}

#bodycontent {
	/*font-size: 11px; line-height: 16px; */
	line-height: 1.45em;
	color: #333;
	background: #fff;
	padding: 20px;
	}

#footer {
	background: #C0A488;
	padding: 10px;
	border-bottom: 10px solid #223D4A;
	}

#footer p {
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	line-height: 1.25em;
	text-align: center;
	color: #333;
	margin: 0;
	}
	
.wrapper {
	/*position: relative; */
	background: #fff;
	}
	
.clear {
	clear: both;
	background: #fff;
	}
	
/**********************************************
	 navlateral list & links
***********************************************/	

#navlateral, #navlateral_photos {
	font-size: 71%;

	color: #333;
	background: #fff;
	padding: 20px;
	}

#navlateral {
	border-right: 1px solid #ccc;
	}
	
#navlateral ul {
	list-style: none;
	margin: 0;
	}

#navlateral li {
	list-style: none;
	background: url("../images/red-list-bullet.gif") no-repeat 0 2px;
	/*font: 10px Verdana, Arial, Helvetica, sans-serif;*/
	
	font-size: 10px;
	padding: 0 0 0 10px;
	margin: 5px 0 5px 0;
	}
	
#navlateral a:link, #navlateral a:visited {
	color:#666;
	text-decoration: none;
	}

#navlateral a:hover {
	color:#666;
	text-decoration: underline;
	}

	
/**********************************************
	 FORMS Classes: inputs
***********************************************/

.error {
	font-weight: bold;
	color: #c00;
	background: #ffc;
	}

.inputbutton {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background: #b5bdd6;
	width: 100px;
}

.inputbuttonSmall {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #b5bdd6;
	}

/*****************************************************************
	TABLE Classes: Info TD + Info TD with Icons + ListClasses
******************************************************************/

table { line-height: 1.45em; }
table { font-size: 100%; }
table table { font-size: 100%; }

.infoop {
	background-color: #EBECED;
	vertical-align: middle;
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
	}
	
.infoselected {
	background: #ffc;
	padding: 10px 20px;
	border: 1px dotted #333;
	text-align: left;
	}

.infotable {
	background: #EBECED;
	padding: 20px;
	border: 1px solid #ccc;
	}

.formTD	{
	text-align: left;
	height: 30px;
	width: 100px;
	}
	
.listClasses	{
	background: #EBECED;
	border: 1px solid #ccc;
	text-align: center;
	height: 30px;
	}

.listClasses-header	{
	background: #ccc;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	}

table.style1 {
	margin-bottom: 1em;
	border: 2px solid #ccc;
	border-collapse: collapse;
	}
table.style1 tr.header {
	border-bottom: 2px solid #ccc;
	}
table.style1 td.listClasses-header {
	padding: 0.5em 1em;
	border: 1px solid #ddd;
	background-color: #eee;
	}
table.style1 td.listClasses {
	padding: 0 1em;
	background-color: #fafafa;
	border: none;
	border: 1px solid #eee;
	}
table.style1 td.courses {
	border-right: 1px solid #eee;
	background-color: #ffe;
	padding: 0 1em;
	}

table tr.highlight td.listClasses {
background-color: #e9fee9;
}

/*****************************************************************
	Misc text styles
******************************************************************/

.greytxt {
	font: 11px  Arial, Helvetica, sans-serif;
	color: #666;
	}
	
.redtxt {
	color: #c00;
	}
	
.bluetxt {
	color: #369;
	}
	
.inline {
	display: inline;
	}
	
.px9-b {
	font: bold 9px/1em Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: transparent;
	}

.emphasis {
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #930;
	}
	
.emphasis-box {
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff;
	background: #930;
	padding: 3px 6px 3px 6px;
	}
	
/*****************************************************************
	SOP - exams table format
******************************************************************/
	
.examMapContainer{
	margin-left: 5px;
	margin-bottom: 5px;	
	text-align: left;
}

.courseList{
	text-align:left;
	vertical-align: top;
}

.examMap{
	border:1px solid #000;
}

.examMap_header_first{	
	color: #fff;
	font-weight: bold;
	border-bottom: 1px solid #000;	
	background: #000;
	text-align: center;	
	width: 16.7%;
	}

.examMap_header{
	color: #fff;
	font-weight: bold;	
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #000;
	text-align: center;
	width: 16.7%;	
	}

.exam_cell_day_first{	
	color: #000;
	text-align: right;
	background: #EBECED;
	}

.exam_cell_day{
	color: #000;
	text-align: right;
	border-left: 1px solid #000;
	background: #EBECED;
	}

.exam_cell_content{
	text-align: left;
	color: #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;	
	background: #EBECED;
	}

.exam_cell_content_first{
	text-align: left;
	color: #000;
	border-bottom: 1px solid #000;
	background: #EBECED;
	}

.exam_cell_content_bottom{
	text-align: left;
	color: #000;
	border-left: 1px solid #000;
	background: #EBECED;
	}

.exam_cell_content_first_bottom{
	text-align: left;
	color: #000;
	background: #EBECED;
	}
	
/* photos bodycontent */	

.photo img {
	border: 5px solid #ccc;
	margin: 5px;
	}

	
/***************************************
  School Registration - Declaration
****************************************/


body.registration {
	font: 14px "Courier New", Courier, monospace;
	color: #000;
	text-align: justify;
	background: #fff;
	}
	
table.registration {	
	font: 14px Courier;
	text-align: justify;
	}
	
.registration_cell  {
	/*font-size: 12px;*/
	color: #000;
	}	
	
.break-before {
	page-break-before:always;
	}	
		
#pagewrapper_registration {
	width: 800px;
	margin-right:auto;
	margin-left:auto;
	margin-top:30px;
	padding:0px;
	text-align: left;
	}
	


	
/* Less used classes: */	
	
/**************************************** 
	Global Text Proprieties 
*****************************************/

h2.diploma_posGrad	{
	font: bold 28px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #223d4a;
	/*color: #036;*/
	}	
	
h3.diploma_posGrad {
	font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #223d4a;
	}	
	
h4.diploma_posGrad {
	font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #223d4a;
	}	
	
h2.registration	{
	font: 20px Courier;
	color: #000;
	}

h3.registration	{
	font: 16px Courier;
	color: #000;
	}
	
h4.registration {
	font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif;		
	color: #000;
	}
	
/**********************************************
	 FORMS Classes: inputs
***********************************************/

/*not used*/
.sucessfulOperarion {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: darkblue;
	}

/*not used*/
.inputlist {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	}
	
select.courseEnroll {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	}
select.degrees {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	}
	
/*****************************************************************
	TABLE Classes: Info TD + Info TD with Icons + ListClasses
******************************************************************/



.infoIcons {
	background-color: #EBECED;
	vertical-align: middle;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	width: 15px;
	}

.infoop2 {
	background-color: #fafade;
	vertical-align: middle;
	padding: 0.5em 0.75em;
	border-bottom: 1px solid #f2f2a6;
	}

.infoop2 p { margin: 0.25em 0; }

.infoop3 {
	background-color: #fafade;
	padding: 2px 4px;
	border-bottom: 1px solid #f2f2a6;
	}
.infoop4 {
	background-color: #ffc;
	padding: 2px 4px;
	}
	
.infoop5 {
	background-color: #ebf5ea;
	vertical-align: middle;
	padding: 0.5em 0.75em;
	border-bottom: 1px solid #cce5c7;
	}

.infoop5 p { margin: 0.25em 0; }
	
.infoop-blue {
	background-color: #9CF;
	vertical-align: middle;
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
	}
	
.bottomborder {
	border-bottom: 1px solid #ccc;
	}
	
.listClassesWhite	{
	border: 1px solid #ccc;
	text-align: center;
	height: 30px;
	}

.listClasses-subheader{
	color:#FFF;
	background:#999; 
	padding:5px;
	font-weight:bold;
}

.listClasses-supheader{
	color:#FFF;
	background:#4F82B5; 
	padding:5px;
	font-weight:bold;
	text-align: center;
}

.listClasses-subheader a:link, .listClasses-subheader a:visited{
	color:#FFF;
	text-decoration:underline;
	font-weight:normal;	
}

.listClasses-subheader a:hover{
	color:#FFF;
	text-decoration:none;
	font-weight:normal;
}

.tall-td {
	height: 50px;
	}

.ects_headertable {
	border: 1px solid #000;
	}

.ects_headertable td {
	color: #333;
	padding: 5px;
	background:#EBECED;
	}
	
table#ects {
	page-break-after: always;
	}

	
/*****************************************************************
	Assiduidade - layout verbete
******************************************************************/

.verb-table {
	border: 1px solid #333;
	}

.verb-hdr {
	padding: 5px;
	font-weight: bold;
	text-align: center;
	background: #ccc;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	}

.verb-hrd-last {
	padding: 5px;
	font-weight: bold;
	text-align: center;
	background: #ccc;
	border-bottom: 1px solid #333;
	}
	
.verb-td {
	padding: 5px;
	background: #ebeced;
	border-right: 1px solid #333;   
	border-bottom: 1px solid #ccc;                               
	}
	
.verb-td-last {
	padding: 5px;
	background: #ebeced;  
	border-bottom: 1px solid #ccc;                               
	}

.verb-finalrow {
	padding: 5px;
	background: #ebeced;
	border-right: 1px solid #333;
	}

.verb-finalrow-last {
	padding: 5px;
	background: #ebeced;
	}
	
/*****************************************************************
	Auto Complete
******************************************************************/

div.autoComplete { 
      position:absolute; 
      width:250px; 
      background-color:white; 
      border:1px solid #888; 
      margin:0px; 
      padding:0px; 
      
    } 
ul.autoCompleteItems  { 
      list-style-type: none; 
      margin:0px; 
      padding:0px; 
  } 
 
ul.autoCompleteItems li.selected { background-color:  #cef; }

.altJavaScriptSubmitButton { display:block; }

.showHideDetailsButton { display:none; }
