/* dotist CSS v.1c - 24.01.2003 */

/**************************************** 
	Global Text Proprieties 
*****************************************/

body {
	font: 11px/1em Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: left;
	margin: 0px;
	}

table {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: transparent;
	}

h1	{
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: transparent;
	}

h2	{
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #036;
	background-color: transparent;
	}

h3 {
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666;
	background-color: transparent;
	}

/******************************************
	Global Links Proprieties
*******************************************/

a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00427b;
	text-decoration: underline;
	}

a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00427b;
	background-color: transparent;
	}

a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00427b;
	text-decoration: none;
	}

/********************************************
	Structural & Templating Classes
********************************************/

.centerContent {
	text-align: center;
	}
	
.header-td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #FF9933;
	padding-right: 20px;
	padding-left: 20px;
	}
	
.navbargeral-td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #003366;
	text-align: center;
	}
	
.navopgeral-td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #003366;
	text-align: center;
	padding: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #b5bdd6;
	}

.navlateral-td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	padding: 20px;
	width: 20%;
	}

.bodycontent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #333333;
	padding: 20px;
	}
	
.footer-td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: center;
	padding: 20px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #FF9933;
	}
	
/******************************************
	NavGeral Links Proprieties
*******************************************/
	
.navopgeral-td a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	}
	
.navopgeral-td a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
	}

.navopgeral-td a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
	color: #B5BDD6;
	}
	
/**********************************************
	 navlateral list
***********************************************/	

.navlateral-td ul {
	list-style-type: square;
	}
	
.navlateral-td li {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin: 5px 0 5px 0;
	}

/**********************************************
	 FORMS Classes: inputs
***********************************************/

.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #CC0000;
	background-color: #FFFFCC;
	}
	
.inputlist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	}
	
.inputbutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #b5bdd6;
	width: 100px;
}

.inputbuttonSmall {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #b5bdd6;
	}

/*****************************************************************
	TABLE Classes: Info TD + Info TD with Icons + ListClasses
******************************************************************/

.infoIcons {
	background-color: #EBECED;
	vertical-align: middle;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	width: 15px;
	}
	
.infoop {
	background-color: #EBECED;
	vertical-align: middle;
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
	}
	
.infoselected {
	background-color: #FFFFCC;
	padding: 10px 20px;
	border: 1px dotted #333;
	text-align: left;
	}

.infotable {
	background-color: #EBECED;
	padding: 20px;
	border: 1px solid #ccc;
	}

.bottomborder {
	border-bottom: 1px solid #ccc;
	}  
	
.formTD	{
	text-align: left;
	height: 30px;
	width: 100px;
	}
	
.listClasses	{
	background-color: #EBECED;
	border: 1px solid #ccc;
	text-align: center;
	height: 30px;
	}
	
.listClasses-header	{
	background-color: #ccc;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	}

.tall-td {
	height: 50px;
	}

/*****************************************************************
	Assiduidade - layout verbete
******************************************************************/

.verb-table {
	border: 1px solid #333;
	}

.verb-hdr {
	padding: 5px;
	font-weight: bold;
	text-align: center;
	background: #ccc;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	}

.verb-hrd-last {
	padding: 5px;
	font-weight: bold;
	text-align: center;
	background: #ccc;
	border-bottom: 1px solid #333;
	}
	
.verb-td {
	padding: 5px;
	background: #ebeced;
	border-right: 1px solid #333;   
	border-bottom: 1px solid #ccc;                               
	}
	
.verb-td-last {
	padding: 5px;
	background: #ebeced;  
	border-bottom: 1px solid #ccc;                               
	}

.verb-finalrow {
	padding: 5px;
	background: #ebeced;
	border-right: 1px solid #333;
	}

.verb-finalrow-last {
	padding: 5px;
	background: #ebeced;
	}                   

/*****************************************************************
	Misc text styles
******************************************************************/

.greytxt {
	font: 11px  Arial, Helvetica, sans-serif;
	color: #666;
	}

.inline {
	display: inline;
	}
	
.px9-b {
	font: bold 9px/1em Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: transparent;
	}
