body { }

/* print1 */
#print1 h1 { font-size: 2.0em }
#print1 h2 { }
#print1 h3 { font-size: 1.2em; }

#print1 h2 { clear: both; margin-bottom: 0.5em; }
#print1 p { margin-bottom: 0.5em; }

/* variations */
.mbottom05 { margin-bottom: 0.5em; }
.sheet { font-size: 65%; }
.serif { font-family: Times New Roman, Times, serif; }
.sans { font-family: Arial, Helvetica, sans-serif; }
.caps { text-transform: uppercase; }
.center { text-align: center; }
.height4 { height: 4em; }
.height2 { height: 2em; }

/* elements */
.tb01 {
width: 100%;
border-collapse: collapse;
}
.tb01 th {
background-color: #eee;
border: 1pt solid #aaa;
height: 1.5em;
font-weight: normal;
}
.tb01 td {
border: 1pt solid #aaa;
height: 1.5em;
}


.tb02 {
border-collapse: collapse;
}
.tb02 th {
background-color: #eee;
border: 1pt solid #aaa;
font-weight: normal;
padding: 0em 0.5em;
}
.tb02 td {
border: 1pt solid #aaa;
padding: 0em 1em;
}


.tbcenter { 
margin-left: auto;
margin-right: auto;
}

table td.tdclearlt {
border-top: none;
border-left: none;
}
table td.tdclearltb {
border-top: none;
border-left: none;
border-bottom: none;
}

/*
.emptybox {
height: 5em;
border: 0.9pt solid #aaa;
padding: 2px;
margin: 4px 0;
}
*/

.break-before {
page-break-before: always;
}
.break-after {
page-break-after: always;
}


/* margins */
.mtop0 { margin-top: 0;}
.mtop025 { margin-top: 0.25em;}
.mtop05 { margin-top: 0.5em;}
.mtop1 { margin-top: 1em;}
.mtop2 { margin-top: 2em;}
.mbottom0 { margin-bottom: 0;}
.mbottom025 { margin-bottom: 0.25em;}
.mbottom05 { margin-bottom: 0.5em;}
.mbottom1 { margin-bottom: 1em;}
.mvert0 { margin-top: 0; margin-bottom: 0; }
.mvert025 { margin-top: 0.25em; margin-bottom: 0.25em; }
.mvert05 { margin-top: 0.5em; margin-bottom: 0.5em; }
.mvert1 { margin-top: 1em; margin-bottom: 1em; }
