/* dotist CSS - 27.08.2003 
   by Bruno Monteiro @ GAEL */ 

/**************************************** 
	Global Text Proprieties 
*****************************************/

body {
	color: #333;
	text-align: left;
	background: #369;
	margin: 0;
	padding: 0;
	}

table {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	}

h1	{
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff;
	}

h2	{
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #223d4a;
	/*color: #036;*/
	}

h3 {
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666;
	}

h2.diploma_posGrad	{
	font: bold 28px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #223d4a;
	/*color: #036;*/
	}	
	
h3.diploma_posGrad {
	font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #223d4a;
	}	
	
h4.diploma_posGrad {
	font: 18px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #223d4a;
	}		

/******************************************
	Global Links Proprieties
*******************************************/

a:link, a:visited {
	color: #00427b;
	text-decoration: underline;
	}

a:hover {
	color: #00427b;
	text-decoration: none;
	}

/********************************************
	Structural & Templating Classes
********************************************/

.centerContent {
	text-align: center;
	}

#header {
	display: block;
	height: 70px;
	background: url("../images/header_bck.gif") repeat-x top;
	padding: 0 0 0 20px;
	margin: 0;
	}
	
#header p {
	position: absolute;
	top: 30px;
	right: 20px;
	font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
	}

/*
	suporte and logoff nav
*/

#hdr-nav {
	position: absolute;
	top: 0;
	right: 15px;
	width: 250px;
	text-align: right;
	margin-right: -15px; /* IE5/Mac hor-scr hack */
	padding: 0;
	}

#hdr-nav img{
	border: 0;
	}

/*
	site-wide navigation
*/

#navgeral {
	position: relative;
	left: 0;
	height: 20px;
	background: #C0A488;
	margin: 0;
	padding: 5px 0 0 150px ;
	border-bottom: 2px solid #223D4A; 
   }

	
#navgeral li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

#navgeral a:link, #navgeral a:visited {
	float: left;
	font: 11px/14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #223D4A;
	text-decoration: none;
	margin: 0px 10px 0px 10px;
	padding-bottom: 6px;
	}

#navgeral a:link.active, #navgeral a:visited.active {
	border-bottom: 4px solid #223D4A;
	padding-bottom: 2px;
	}

#navgeral a:hover {
	border-bottom: 4px solid #369;
	padding-bottom: 2px;
	}

/*
	end site-wide navigation
*/

#logged {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	background: #cc9;
	border-bottom: 1px solid #C0A488;
	margin: 0;
	padding: 5px 10px 5px 10px;
	}

.user {
	float: left;
	width: 300px;
	margin: 0;
	padding: 0;
	}
	
.info {
	float: right;
	width: 300px;
	text-align: right;
	vertical-align: top;
	margin: 0;
	padding: 0;
	}

#navlateral, #navlateral_photos {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	padding: 20px;
	}

#navlateral {
	border-right: 1px solid #ccc;
	}
	
#bodycontent {
	font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	padding: 20px;
	}

#footer {
	background: #C0A488;
	padding: 10px;
	border-bottom: 10px solid #223D4A;
	}

#footer p {
	font: 11px/14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #333;
	margin: 0;
	}
	
.wrapper {
	/*position: relative; */
	background: #fff;
	}
	
.clear {
	clear: both;
	background: #fff;
	}
	
/**********************************************
	 navlateral list & links
***********************************************/	
#navlateral ul {
	list-style: none;
	margin: 0;
	}

#navlateral li {
	list-style: none;
	background: url("../images/red-list-bullet.gif") no-repeat 0 2px;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	padding: 0 0 0 10px;
	margin: 5px 0 5px 0;
	}
	
#navlateral a:link, #navlateral a:visited {
	/*font-weight: bold;*/
	color:#666;
	text-decoration: none;
	}

#navlateral a:hover {
	/*font-weight: bold*/
	color:#666;
	text-decoration: underline;
	}
	
/**********************************************
	 FORMS Classes: inputs
***********************************************/

.error {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #c00;
	background: #ffc;
	}

.sucessfulOperarion {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: darkblue;
	}
	
.inputlist {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	}
	
.inputbutton {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background: #b5bdd6;
	width: 100px;
}

.inputbuttonSmall {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #b5bdd6;
	}

select.courseEnroll {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	}
select.degrees {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	width: 100%;
	}	
/*****************************************************************
	TABLE Classes: Info TD + Info TD with Icons + ListClasses
******************************************************************/

.infoIcons {
	background-color: #EBECED;
	vertical-align: middle;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	width: 15px;
	}
	
.infoop {
	background-color: #EBECED;
	vertical-align: middle;
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
	}

.infoop-blue {
	background-color: #9CF;
	vertical-align: middle;
	padding: 10px 10px;
	border-bottom: 1px solid #ccc;
	}
	
.infoselected {
	background: #ffc;
	padding: 10px 20px;
	border: 1px dotted #333;
	text-align: left;
	}

.infotable {
	background: #EBECED;
	padding: 20px;
	border: 1px solid #ccc;
	}

.bottomborder {
	border-bottom: 1px solid #ccc;
	}  
	
.formTD	{
	text-align: left;
	height: 30px;
	width: 100px;
	}
	
.listClasses	{
	background: #EBECED;
	border: 1px solid #ccc;
	text-align: center;
	height: 30px;
	}
	
.listClasses-header	{
	background: #ccc;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	}

.listClasses-subheader{
	color:#FFF;
	background:#999; 
	padding:5px;
	font-weight:bold;
}

.listClasses-supheader{
	color:#FFF;
	background:#4F82B5; 
	padding:5px;
	font-weight:bold;
	text-align: center;
}

.listClasses-subheader a:link, .listClasses-subheader a:visited{
	color:#FFF;
	text-decoration:underline;
	font-weight:normal;	
}

.listClasses-subheader a:hover{
	color:#FFF;
	text-decoration:none;
	font-weight:normal;
}

.tall-td {
	height: 50px;
	}

.ects_headertable {
	border: 1px solid #666;
	}

.ects_headertable td {
	color: #333;
	padding: 5px;
	background:#EBECED;
	}
	
table#ects {
	page-break-after: always;
	}

/*****************************************************************
	Assiduidade - layout verbete
******************************************************************/

.verb-table {
	border: 1px solid #333;
	}

.verb-hdr {
	padding: 5px;
	font-weight: bold;
	text-align: center;
	background: #ccc;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
	}

.verb-hrd-last {
	padding: 5px;
	font-weight: bold;
	text-align: center;
	background: #ccc;
	border-bottom: 1px solid #333;
	}
	
.verb-td {
	padding: 5px;
	background: #ebeced;
	border-right: 1px solid #333;   
	border-bottom: 1px solid #ccc;                               
	}
	
.verb-td-last {
	padding: 5px;
	background: #ebeced;  
	border-bottom: 1px solid #ccc;                               
	}

.verb-finalrow {
	padding: 5px;
	background: #ebeced;
	border-right: 1px solid #333;
	}

.verb-finalrow-last {
	padding: 5px;
	background: #ebeced;
	}                   

/*****************************************************************
	Misc text styles
******************************************************************/

.greytxt {
	font: 11px  Arial, Helvetica, sans-serif;
	color: #666;
	}
	
.redtxt {
	color: #c00;
	}
	
.bluetxt {
	color: #369;
	}
	
.inline {
	display: inline;
	}
	
.px9-b {
	font: bold 9px/1em Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: transparent;
	}

.emphasis {
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #930;
	}
	
.emphasis-box {
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff;
	background: #930;
	padding: 3px 6px 3px 6px;
	}
	
/*****************************************************************
	SOP - exams table format
******************************************************************/
	
.examMapContainer{
	margin-left: 5px;
	margin-bottom: 5px;	
	text-align: left;
}

.courseList{
	text-align:left;
	vertical-align: top;
}

.examMap{
	border:1px solid #000;
}

.examMap_header_first{	
	color: #fff;
	font-weight: bold;
	border-bottom: 1px solid #000;	
	background: #000;
	text-align: center;	
	width: 16.7%;
	}

.examMap_header{
	color: #fff;
	font-weight: bold;	
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #000;
	text-align: center;
	width: 16.7%;	
	}

.exam_cell_day_first{	
	color: #000;
	text-align: right;
	background: #EBECED;
	}

.exam_cell_day{
	color: #000;
	text-align: right;
	border-left: 1px solid #000;
	background: #EBECED;
	}

.exam_cell_content{
	text-align: left;
	color: #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;	
	background: #EBECED;
	}

.exam_cell_content_first{
	text-align: left;
	color: #000;
	border-bottom: 1px solid #000;
	background: #EBECED;
	}

.exam_cell_content_bottom{
	text-align: left;
	color: #000;
	border-left: 1px solid #000;
	background: #EBECED;
	}

.exam_cell_content_first_bottom{
	text-align: left;
	color: #000;
	background: #EBECED;
	}
	
/* photos bodycontent */	

.photo img {
	border: 5px solid #ccc;
	margin: 5px;
	}
