/* dotist Student CSS - 27.08.2003
   by Bruno Monteiro @ GAEL		    	*/

/**************************************** 
	Global Text Proprieties 
*****************************************/

body {
	color: #333;
	text-align: left;
	background: #369;
	margin: 0;
	padding: 0;
	}

table {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	}

h1	{
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #fff;
	background-color: transparent;
	}

h2	{
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #223d4a;
	/*color: #036;*/
	background-color: transparent;
	}

h3 {
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666;
	background-color: transparent;
	}
	
/******************************************
	Global Links Proprieties
*******************************************/

a:link, a:visited {
	color: #00427b;
	text-decoration: underline;
	}

a:hover {
	color: #00427b;
	text-decoration: none;
	}

/********************************************
	Structural & Templating Classes
********************************************/

.centerContent {
	text-align: center;
	}

#header {
	display: block;
	height: 70px;
	background: url("../images/header_bck.gif") repeat-x top;
	padding: 0 0 0 20px;
	margin: 0;
	}
	
#header p {
	position: absolute;
	top: 30px;
	right: 20px;
	font: bold 13px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	margin: 0;
	padding: 0;
	}

/*
	suporte and logoff nav
*/

#hdr-nav {
	position: absolute;
	top: 0;
	right: 15px;
	width: 250px;
	text-align: right;
	margin-right: -15px; /* IE5/Mac hor-scr hack */
	padding: 0;
	}

#hdr-nav img{
	border: 0;
	}

/*
	site-wide navigation
*/

#navgeral {
	position: relative;
	left: 0;
	height: 20px;
	background: #C0A488;
	margin: 0;
	padding: 5px 0 0 150px ;
	border-bottom: 2px solid #223D4A; 
   }

	
#navgeral li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	}

#navgeral a:link, #navgeral a:visited {
	float: left;
	font: 11px/14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #223D4A;
	text-decoration: none;
	margin: 0px 10px 0px 10px;
	padding-bottom: 6px;
	}

#navgeral a:link.active, #navgeral a:visited.active {
	border-bottom: 4px solid #223D4A;
	padding-bottom: 2px;
	}

#navgeral a:hover {
	border-bottom: 4px solid #369;
	padding-bottom: 2px;
	}	

/*
	end site-wide navigation
*/
	

#navlateral, #navlateral_photos {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	padding: 20px;
	}

#navlateral {
	border-right: 1px solid #ccc;
	}

	
#bodycontent {
	font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background: #fff;
	padding: 20px;
	}

#footer {
	background: #C0A488;
	padding: 10px;
	border-bottom: 10px solid #223D4A;
	}

#footer p {
	font: 11px/14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	color: #333;
	margin: 0;
	}
	
.wrapper {
	/*position: relative; */
	background: #fff;
	}
	
.clear {
	clear: both;
	background: #fff;
	}
	
/**********************************************
	 navlateral list & links
***********************************************/	
#navlateral ul {
	list-style: none;
	margin: 0;
	}

#navlateral li {
	list-style: none;
	background: url("../images/red-list-bullet.gif") no-repeat 0 2px;
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	padding: 0 0 0 10px;
	margin: 5px 0 5px 0;
	}
	
#navlateral a:link, #navlateral a:visited {
	/*font-weight: bold;*/
	color:#666;
	text-decoration: none;
	}

#navlateral a:hover {
	/*font-weight: bold*/
	color:#666;
	text-decoration: underline;
	}
	
/**********************************************
	 Other text formatting classes
***********************************************/

.emphasis {
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #930:
	}
	
/**********************************************
	 FORMS Classes: inputs
***********************************************/

.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #CC0000;
	background-color: #FFFFCC;
}
.inputlist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.inputbutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #b5bdd6;
	width: 100px;
}
.inputbuttonSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #b5bdd6;
}

/*****************************************************************
	TABLE Classes: Info TD + Info TD with Icons + ListClasses
******************************************************************/

.infoIcons {
	background-color: #EBECED;
	vertical-align: middle;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333333;
	width: 15px;
}
.infoop {
	background-color: #EBECED;
	vertical-align: middle;
	padding: 10px 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333333;
}
.infoselected {
	background-color: #FFFFCC;
	padding: 10px 20px;
	border-width: 1px;
	border-style: dotted;
	border-color: #333333;
}
.formTD{
	text-align: left;
	height: 30px;
	width: 100px;
}
.listClasses{
	background-color: #EBECED;
	border: 1px solid #666666;
	text-align: center;
	width: 150px;
	height: 30px;
}

/*****************************************************************
	photo album
******************************************************************/

.photo img {
	border: 2px solid #ccc;
	margin: 5px;
	}