/* dotist CSS Print - 19.05.2003 */

/**************************************** 
	Global Text Proprieties 
*****************************************/

body {
	font: 11pt Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: left;
	margin: 0;
	margin-left: 25px;
	}
	
table {
	font: 9pt Arial, Helvetica, sans-serif;
	color: black;
	}

h2	{
	font: bold 16pt "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: black;
	}

h3 {
	font: bold 12pt "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: grey;
	}

.print_smaller {
	font-size: 80%;	
	}
	
/******************************************
	Global Links Proprieties
*******************************************/

a:link {
	font: 9pt Arial, Helvetica, sans-serif;
	color: black;
	text-decoration: underline;
	}

a:visited {
	font: 9pt Arial, Helvetica, sans-serif;
	color: #00427b;
	}

/********************************************
	Structural & Templating Classes
********************************************/

.centerContent {
	text-align: center;
	}
	
#header *, #footer *, #navgeral *, #navopgeral *, #navlateral *, #hdr-nav *, #logged * {
    display: none;
	}

#bodycontent {
	width: 100%;
	/*font: 11pt/0.5em Arial, Helvetica, sans-serif;*/ /*corrected print line-height problem*/
	color: #000;
	margin: 0;
	padding 0;
	vertical-align: top;
	}

/**********************************************
	 for navLateral multi use 
***********************************************/	

.navlateral-td {
	display: none;
	}
	
.navlateral-td {
	display: none;
	}

/**********************************************
	 FORMS Classes: inputs
***********************************************/

.error {
	font: bold 11pt Arial, Helvetica, sans-serif;
	color: red;
	background: yellow;
	}	

.sucessfulOperarion {
	font: bold 11pt Arial, Helvetica, sans-serif;
	color: blue;
	}

.inputlist {
	font: 11pt Arial, Helvetica, sans-serif;
	color: black;
	}
	
.inputbutton {
	display: none;
}

.inputbuttonSmall {
	font: 11pt Arial, Helvetica, sans-serif;
	color: black;
	background: #b5bdd6;
	}

/*****************************************************************
	TABLE Classes: Info TD + Info TD with Icons + ListClasses
******************************************************************/

.infoIcons {
	background: #ebeced;
	vertical-align: middle;
	padding-left: 10pt;
	border-bottom: 1pt solid #ccc;
	width: 15pt;
	}
	
.infoop {
	background-color: #ebeced;
	vertical-align: middle;
	padding: 5pt 5pt;
	border-bottom: 1pt solid #ccc;
	}
	
.infoselected {
	background-color: #ffc;
	padding: 5pt 10pt;
	border: 1px dotted #333;
	text-align: left;
	}

.infotable {
	background: #ebeced;
	padding: 10pt;
	border: 1pt solid #ccc;
	}                         

.bottomborder {
	border-bottom: 1pt solid #ccc;
	}  
	
.formTD	{
	text-align: left;
	height: 15pt;
	width: 100pt;
	}
	
.listClasses	{
	background: #ebeced;
	border: 1pt solid #ccc;
	text-align: center;
	height: 15pt;
	}
	
.listClasses-header	{
	background: #999;
	font-weight: bold;
	text-align: center;
	padding: 2pt;
	}

.tall-td {
	height: 50pt;
	}

.ects_headertable {
	border: 1px solid #666;
	}

.ects_headertable td {
	color: #333;
	padding: 5px;
	background:#EBECED;
	}
	
table#ects {
	page-break-after: always;
	}

table.timetable tr {
	font-size: 6px;
}	

table.timetable .period-hours {
	font-size: 7px;
}	


/*****************************************************************
	Assiduidade - layout verbete
******************************************************************/

.verb-table {
	border: 1pt solid #333;
	align: center;
	}

.verb-hdr {
	font-weight: bold;
	text-align: center;
	background: #ccc;
	border-right: 1pt solid #333;
	border-bottom: 1pt solid #333;
	}

.verb-hrd-last {
	font-weight: bold;
	text-align: center;
	background: #ccc;
	border-bottom: 1pt solid #333;
	}
	
.verb-td {
	border-right: 1pt solid #333;   
	border-bottom: 1pt dotted #333;                               
	}
	
.verb-td-last { 
	border-bottom: 1pt dotted #333;                               
	}

.verb-finalrow {
	border-right: 1pt solid #333;
	}
  
/*****************************************************************
	Misc text styles
******************************************************************/

.greytxt {
	font: 11pt  Arial, Helvetica, sans-serif;
	color: #666;
	}

.inline {
	display: inline;
	}
	
.px9-b {
	font: bold 8pt/1em Arial, Helvetica, sans-serif;
	color: #333;
	}
	
/*****************************************************************
	SOP - exams table format
******************************************************************/
	
.examMapContainer{
	margin-left: 5px;
	margin-bottom: 5px;	
	text-align: left;
}

.courseList{
	text-align:left;
	vertical-align: top;
}

.examMap{
	border:1pt solid #000;
}

.examMap_header_first{	
	color: #fff;
	font-weight: bold;
	border-bottom: 1pt solid #000;	
	background: #000;
	text-align: center;	
	width: 16.7%;
	}

.examMap_header{
	color: #fff;
	font-weight: bold;	
	border-left: 1pt solid #000;
	border-bottom: 1pt solid #000;
	background: #000;
	text-align: center;
	width: 16.7%;	
	}

.exam_cell_day_first{	
	color: #000;
	text-align: right;
	}

.exam_cell_day{
	color: #000;
	text-align: right;
	border-left: 1pt solid #000;
	}

.exam_cell_content{
	text-align: left;
	color: #000;
	border-left: 1pt solid #000;
	border-bottom: 1pt solid #000;	
	}

.exam_cell_content_first{
	text-align: left;
	color: #000;
	border-bottom: 1pt solid #000;
	}

.exam_cell_content_bottom{
	text-align: left;
	color: #000;
	border-left: 1pt solid #000;
	}

.exam_cell_content_first_bottom{
	text-align: left;
	color: #000;
	}

/************************************
  School Registration - Declaration
*************************************/

body.registration {
	font: 11pt "Courier New", Courier, monospace;
	color: #000;
	text-align: justify;
	}
	
table.registration {	
	font: 11pt Courier;
	text-align: justify;
	}
	
h2.registration	{
	font: 15pt Courier;
	color: #000;
	}	
	
h3.registration	{
	font: 13pt Courier;
	color: #000;
	}
	
.break-before {
	page-break-before:always;
	}		
	
/*****************************************************************
	for hidden misc elements
******************************************************************/

.invisible {
	display: none;
	}


	
/* ----------------------
 ---- Classes ----------
----------------------- */

.p_mvert015 p { margin: 0.15em 0; }
.smalltxt { font-size: 0.85em;}
.prenomargin { margin: 0; padding: 0; }

.aleft { text-align: left; }
.aright { text-align: right; }
.acenter { text-align: center; }
.hidden { display: none; }
.bold { font-weight: bold; }
.nobullet { list-style: none; }
.noindent { margin-left: 0; padding-left: 0; }

.pbottom1 { padding-bottom: 1em;}
.pbottom2 { padding-bottom: 2em;}
.pbottom3 { padding-bottom: 3em;}
.mtop0 { margin-top: 0;}
.mtop05 { margin-top: 0.5em;}
.mtop1 { margin-top: 1em;}
.mtop2 { margin-top: 2em;}
.mtop3 { margin-top: 3em;}
.mbottom0 { margin-bottom: 0;}
.mbottom1 { margin-bottom: 1em;}
.mbottom2 { margin-bottom: 2em;}
.mbottom3 { margin-bottom: 3em;}
.mleft0 { margin-left: 0; }
.mleft1 { margin-left: 1em; }
.mvert0 { margin-top: 0; margin-bottom: 0; }
.mvert1 { margin-top: 1em; margin-bottom: 1em; }
.mvert2 { margin-top: 2em; margin-bottom: 2em; }
.mvert3 { margin-top: 3em; margin-bottom: 3em; }
.indent0 { margin-left: 0; }
.indent1 { margin-left: 1em; }
.indent2 { margin-left: 2em; }
.indent3 { margin-left: 3em; }
.indent4 { margin-left: 4em; }
.indent5 { margin-left: 5em; }
.indent6 { margin-left: 6em; }
.indent9 { margin-left: 9em; }
.indent12 { margin-left: 12em; }
.indent15 { margin-left: 15em; }
.valigntop { vertical-align: top; }

ul.indent0 { margin-left: 0; padding-left: 0; }
table.mtop05 { margin-top: 0.5em; }
table.smallmargin td { padding: 0.25em; }
td.pleft1 { padding-left: 1em; }
td.pleft2 { padding-left: 2em; }
td.pleft3 { padding-left: 3em; }
td.pleft4 { padding-left: 4em; }
td.pleft5 { padding-left: 5em; }
td.pleft6 { padding-left: 6em; }

.breakafter {page-break-after: always; }
table.showborder { border-collapse: collapse; }
table.showborder th, table.showborder td { padding: 2px 4px; }
table.showborder th { border: 1px solid #aaa; }
table.showborder td { border: 1px solid #aaa; }
.printbold { font-weight: bold; }

.toprint { display: block;}

table.printborder { border-collapse: collapse; }
table.printborder th, table.printborder td { border: 1px solid #888; }
table.tpadding1 th, table.tpadding1 td { padding: 0.15em 0.5em;}

/*
.tstyle1b { border-collapse: collapse; }
.tstyle1b th, .tstyle1b td { padding: 0.25em 0.5em; }
.tstyle1b th { border: 1px solid #888; }
.tstyle1b td { border: 1px solid #888; }

.tstyle1b th { border: 11px solid #888; }
.tstyle1b th, .tstyle1b td { padding: 5.25em 0.5em; margin: 5em; }
*/