/* dotist Student CSS v.1c - 24.01.2003 */

/**************************************** 
	Global Text Proprieties 
*****************************************/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #333333;
	text-align: left;
	margin: 0px;
}
table {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: transparent;
}
h1	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: transparent;
}
h2	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003366;
	background-color: transparent;
}

/******************************************
	Global Links Proprieties
*******************************************/

a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00427b;
	text-decoration: underline;
}
a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00427b;
	background-color: transparent;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00427b;
	background-color: transparent;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00427b;
	text-decoration: none;
}

/******************************************
	NavGeral Links Proprieties
*******************************************/
	
.navopgeral a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
.navopgeral a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
.navopgeral a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-decoration: none;
}
.navopgeral a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
	color: #B5BDD6;
}

/********************************************
	Structural & Templating Classes
********************************************/

.centerContent {
	text-align: center;
}
.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #6699CC;
	padding-right: 20px;
	padding-left: 20px;
}
.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: center;
	padding: 20px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #6699CC;
}
.navbargeral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #003366;
	text-align: center;
}
.navopgeral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #003366;
	text-align: center;
	padding: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #b5bdd6;
}
.navlateral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	padding: 20px;
}
.bodycontent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #333333;
	padding: 20px;
}

/**********************************************
	 FORMS Classes: inputs
***********************************************/

.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #CC0000;
	background-color: #FFFFCC;
}
.inputlist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}
.inputbutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #b5bdd6;
	width: 100px;
}
.inputbuttonSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #b5bdd6;
}

/*****************************************************************
	TABLE Classes: Info TD + Info TD with Icons + ListClasses
******************************************************************/

.infoIcons {
	background-color: #EBECED;
	vertical-align: middle;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333333;
	width: 15px;
}
.infoop {
	background-color: #EBECED;
	vertical-align: middle;
	padding: 10px 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333333;
}
.infoselected {
	background-color: #FFFFCC;
	padding: 10px 20px;
	border-width: 1px;
	border-style: dotted;
	border-color: #333333;
}
.formTD{
	text-align: left;
	height: 30px;
	width: 100px;
}
.listClasses{
background-color: #EBECED;
border: 1px solid #666666;
text-align: center;
width: 150px;
height: 30px;
}