.examMapContainer{
	margin-left: 5px;
	margin-bottom: 5px;	
	text-align: left;
}

.courseList{
	text-align:left;
	vertical-align: top;
}

.examMap{
	border:1px solid #000;
}

.examMap_header_first{	
	color: #fff;
	font-weight: bold;
	border-bottom: 1px solid #000;	
	background: #000;
	text-align: center;	
	width: 16.7%;
	}

.examMap_header{
	color: #fff;
	font-weight: bold;	
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #000;
	text-align: center;
	width: 16.7%;	
	}

.exam_cell_day_first{	
	color: #000;
	text-align: right;
	background: #EBECED;
	}

.exam_cell_day{
	color: #000;
	text-align: right;
	border-left: 1px solid #000;
	background: #EBECED;
	}

.exam_cell_content{
	text-align: left;
	color: #000;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;	
	background: #EBECED;
	}

.exam_cell_content_first{
	text-align: left;
	color: #000;
	border-bottom: 1px solid #000;
	background: #EBECED;
	}

.exam_cell_content_bottom{
	text-align: left;
	color: #000;
	border-left: 1px solid #000;
	background: #EBECED;
	}

.exam_cell_content_first_bottom{
	text-align: left;
	color: #000;
	background: #EBECED;
	}