.examMapContainer{
	margin-left: 5px;
	margin-bottom: 5px;	
	text-align: left;
}

.courseList{
	text-align:left;
	vertical-align: top;
}

.examMap{
	border:1px solid #000;
}

.examMap_header_first{	
	font-weight: bold;
	border-bottom: 1px solid #000;	
	background-color: #33CCFF;
	text-align: center;	
	width: 16.7%;
	}

.examMap_header{
	font-weight: bold;	
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #33CCFF;
	text-align: center;
	width: 16.7%;	
	}

.exam_cell_day_first{
	font-weight: bold;	
	color: #fff;
	text-align: right;
	background-color: #ccc;
	}

.exam_cell_day{
	font-weight: bold;	
	color: #fff;
	text-align: right;
	border-left: 1px solid #000;
	background-color: #ccc;
	}

.exam_cell_content{
	text-align: left;
	color: #FFF;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;	
	background-color: #CCC;
	}

.exam_cell_content_first{
	text-align: left;
	color: #fff;
	border-bottom: 1px solid #000;
	background-color: #ccc;
	}

.exam_cell_content_bottom{
	text-align: left;
	color: #fff;
	border-left: 1px solid #000;
	background-color: #ccc;
	}

.exam_cell_content_first_bottom{
	text-align: left;
	color: #fff;
	background-color: #ccc;
	}

td a:link{
	text-decoration: underline;
}

td a:hover{
	text-decoration: none;
}

td a:visited{
	text-decoration: underline;	
}