/*  -------------------------------------
	GESDIS CSS - WEB | 09.04.2003
	------------------------------------- */

/*****************************************
 	propriedades gerais
 *****************************************/
body {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #fff !important;
	}
td	{
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	}
p 	{
	font: 11px/1.5em Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	margin-top: 0;
	margin-bottom: 1em;
	background-color: transparent;
	}
/* Nome da disciplina */
h1 {
	font: 22px "Trebuchet MS", Georgia, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
	text-align: center;
	margin: 2em 0 1.5em;
	background-color: transparent;
	}
/* Tópicos */	
h2 {
	font: 13px "Trebuchet MS", Georgia, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
	margin-top: 1em;
	margin-bottom: 1em;
	background-color: transparent;
	}
/* Menu - lado direito */	
h3 {
	font: 11px  Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	padding: 0.5em;
	background-color: #B5BED6 !important;
	}
/* Sub-topicos */
h4	{
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #999;
	margin: 0;
	padding-bottom: 0.2em;
	background-color: transparent;
	}
	
.px9 {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: transparent;
	}
/******************************************
	links - geral
*******************************************/
a, a:link, a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00427b;
	text-decoration: underline;
	}

a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00427b;
	text-decoration: none;
	}
/******************************************
 	elementos de estrutura e posicionamento
 *******************************************/
#container {
	margin: 0;
	border: 0;
	}
#principal {
	margin: 0;
	padding: 2.5em 5em 2.5em 5em;
	border: 0;
	vertical-align: top;
	background-color: #fff !important;
	}
#header {
	text-align: right;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	}
#associated-degrees {
	font: 14px "Trebuchet MS", Georgia, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #B5BED6;
	text-align: right;
	margin: 0;
	background-color: transparent;
	} 
#barraist {
	text-align: center;
	vertical-align: top;
	background-color: #B5BED6 !important;
	}
#barraist img {
	margin: 0;
	padding: 10px 10px 0px 10px;
	border: 0;
	}
#barranav {
	width: 15%;
	margin: 0;
	border: 0;
	background-color: #EBEFFA !important;
	}
#anuncios {
	margin: 0;
	padding: 0;
	border: 1px solid #333;
	background-color: #ff9 !important;
	}
#anuncios a:link {
	color: #333;
	text-decoration: none;
	}
#anuncios a:visited	{
	color: #333;
	text-decoration: none;
	}
#anuncios a:hover {
	color: #333;
	text-decoration: underline;
	}
#nav {
	width: 180px;
	}

#nav ul {
	margin: 0;
	padding: 0;
	}
#nav ul li {
	list-style-type: none;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	margin: 0 2px 0 2px;
	}
/******************************************
 	links para menu de navega?‹o
 *******************************************/	
#nav ul li a:link, #nav ul li a:visited {
	display: block;
	color: #666;
	text-indent: 5px;
	text-decoration: none;
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #ccc;
	width: 180px;
	voice-family: "\"}\"";		/* Box model hack para IE 5.0 / IE 5.5 Windows */
  	voice-family:inherit;
	width: 176px;				/* valor correcto para browsers standards compliant */
	}
body>#nav	{
	width: 176px;				/* para o Opera ...*/
	}
#nav ul li a:hover {
	text-decoration: none;
	background-color: #eec; 	/* ECSFP*/
	}
.selected	{
	color: #666;
	text-indent: 5px;
	padding: 5px 0 5px 0;
	background-color: #ccc;
	}
	
/******************************************
 	Execution Course Site First Page
 *******************************************/
#announcs {
	background: #eec;
   	border: none;
   	padding: 0em 0em 0.5em;
}
.announcs-head {
   	background: #aa7;
   	color: #fff;
   	text-indent: 0.5em;
   	padding: 0.4em 0;
}
.last-announc {
   	padding: 0.3em 0 0 0;
   	margin: -2px 12px 0.5em 14px; 
   	border: 1px solid #aa7;
   	background: #fff;
}
.last-announc-name {
   	font-weight: bold;
	color: #104284;
	padding: 0.1em 0.5em 0.1em 0.75em;
}
.last-announc-post-date {
	font: 7pt;
	color: #666; 
   	padding: 0.1em 0.5em 0.1em 0.95em;
}
p.last-announc-info {
   	margin: 1em 0.3em 0.75em 0.75em;
}
li.more-announc {
	color: #aa7;
   	padding: 0.2em;
}
.more-announc-date {
	color: #666;
}
a.list-announcs {
	text-decoration: none;
	font: 13px "Trebuchet MS", Georgia, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #333;
	margin-top: 1em;
	margin-bottom: 1em;
}
/******************************************
 	seccao
 *******************************************/	
dd	{
	font: 11px  Verdana, Arial, Helvetica, sans-serif;
	padding: 5px 0 5px 0;
	}
dd a:link {
	color: #666;
	text-decoration: none;
	}
dd a:visited {
	color: #666;
	text-decoration: none;
	}	
dd a:hover {
	color: #00427b;
	text-decoration: underline;
	}
/******************************************
 	citação (opcional)
 *******************************************/
.citation	{
	width: 100%;
	}
.citation p	{
	width: 100%;
	font: 11px/16px Georgia, "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #666;
	padding: 0 2em 0.2em 2em;
	margin: 0;
	border: 0;
	background-color: transparent;
	}
p.citation-author	{
	font-style: italic;
	padding-bottom: 2em;
	}
/******************************************
 	anúncios
 *******************************************/
.ultAnuncio {
	font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: left;
	padding: 20px;
	background-color: transparent;
	}
.ultAnuncio-date {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: right;
	padding: 20px;
	background-color: transparent;
	}
.ultAnuncioAviso {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #ccc;
	text-align: left;
	padding: 5px 20px 5px;
	border-bottom: 1px solid #333;
	background-color: #333;
	}
.mais-anuncio	{
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
	text-align: right;
	background-color: transparent;
	}
.mais-anuncio a:link, a:visited	{
	color: #333;
	text-decoration: underline;
	background-color: transparent;
	}	
.mais-anuncio a:hover	{
	color: #333;
	text-decoration: none;
	background-color: transparent;
	}
/******************************************
 	contacto do professor(a)
 *******************************************/
p.contacto {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #666;
	margin: 0;
	padding: 0 10px 0 10px;
	background-color: transparent;
	}
/******************************************
 	Misc
 *******************************************/
.post-date	{
 	display: inline;
 	color: #999;
 	}
.tall-td {
	height: 50px;
	}
.greytxt {
	font: 11px  Arial, Helvetica, sans-serif;
	color: #666;
	}	
	
 /**********************************************
	 FORMS Classes: inputs
***********************************************/
.error {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #900;
	background-color: #fff9cc !important;
}
.inputlist {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
}
.inputbutton {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #b5bdd6 !important;
	width: 100px;
}
.inputbuttonSmall {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: #b5bdd6 !important;
}
/**********************************************
	Footer
***********************************************/
.footer {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: center;
	padding: 20px;
	border-top: 4px solid #999;
	}
/**********************************************
	Licenciaturas
***********************************************/
.degreetablestd {
	font-size: 11px;
	color: #333333;
	background-color: #CCCCCC;
	text-align: center;
	height: 20px;
	width: 50px;
	border: 1px solid #000;
}	
/*****************************************************************
	TABLE Classes: Info TD + Info TD with Icons + ListClasses
******************************************************************/
.infoIcons {
	background-color: #EBECED;
	vertical-align: middle;
	padding-left: 10px;
	border-bottom-width: 1px dotted #333;
	width: 15px;
}
.infoop {
	background-color: #EBECED;
	vertical-align: middle;
	padding: 10px 10px;
	border-bottom: 1px dotted #333;
}
.infoselected {
	background-color: #FFFFCC;
	padding: 10px 20px;
	border-width: 1px dotted #333;
}
.formTD	{
	text-align: left;
	height: 30px;
	width: 100px;
}
.listClasses	{
	background-color: #EBECED;
	border: 1px solid #ccc;
	text-align: center;
	height: 30px;
	}
.listClasses-header	{
	background-color: #ccc;
	font-weight: bold;
	text-align: center;
	height: 30px;
	}
.tall-td {
	height: 30px;
	vertical-align: middle;
	padding: 0 10px 0 10px;
	background-color: transparent;
	}