
/*---------------------------------------------
	General Properties
----------------------------------------------*/
body {
	font-family:"Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #333; background:#fff url(../images/homepage/page_bck.gif) repeat-x left top;
	font-size: 71%; line-height: 1.5em;
	}
body * :target { display: inline; background: transparent; }
h1 { font: bold 1.45em/1.5em "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #333; margin: 0; padding: 0; margin-bottom: 0.25em;}
h2 { font: bold 1.45em/1.5em "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #45556A; letter-spacing: -1px; border-bottom: 1px solid #EAE8E5; margin-top: 20px;}
h3 { font: bold 1.30em/1.5em "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #333; letter-spacing: -1px; margin-bottom: 0;}
p { font: 1.0em/1.5em "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #333; margin-top: 0; }
a:link, a:visited { color: #369; text-decoration: underline; }	
a:hover { color: #fff; background: #369; }
/*---------------------------------------------
	Structural Elements
----------------------------------------------*/
#logoist { padding: 17px 32px; }
#container { position: relative; width: 700px; margin: 0 auto; margin-top: 30px; padding-bottom: 100px; }
#nav { float: left; margin: 0; padding: 0; padding-left: 2em; padding-right: 0.5em; font-size: 1.1em; }
#nav li { list-style: square; margin: 0.4em 0 0.4em 0; }
#photo_holder { /*width: 150px;*/ /*float: left;*/ /*margin-right: 30px;*/ }
#photo_holder img { padding: 2px; border: 1px solid #999; }
#bio_info { line-height: 1.5em; /*margin-left: 250px;*/ padding-top: 0.5em; }
#bio_info p { line-height: 1.7em; font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #333; margin: 0; padding: 0;}
#content { /*position: absolute; top: 120px;*/ width: 529px; margin-left: 160px; padding-left: 6px; padding-top: 1.5em; }
#re { margin: 0; padding: 0; padding-top: 1em; }
/*---------------------------------------------
	Misc
----------------------------------------------*/
.clear { clear:both; }
p.up { font-size: 0.8em; color: #999; text-align: right; margin: 0; padding: 0;}
p.up a:link, p.up a:visited { text-decoration: none; color: #999; background: transparent;}
p.up a:hover { text-decoration: none; color: #999; }
p.breadcumbs { font-size: 0.9em; color: #999; width: 100%; margin: 20px 0 10px 0; padding: 0;}
p.breadcumbs a:link, p.breadcumbs a:visited { text-decoration: underline; color: #999; background: transparent;}
p.breadcumbs a:hover{ text-decoration: none; color: #999; }
.grey999 { color: #999; }
.revision { font-size: 0.9em; color: #999; }
.skip { visibility: hidden; }

.invisible th, .invisible td {
padding: 0.25em;
}
.invisible th {
text-align: right;
font-weight: normal;
vertical-align: top;
}
