/* logdotist.css | SOP - v.01c: 24.01.2003*/

/******************************************
	Global Text Proprieties
******************************************/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 14px;
	color: #000000;
	background-color: #B5BDD6;
}
table, div, span {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #FFFFFF;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #003366;
	background-color: transparent;
}

/******************************************
	Global Link Proprieties
******************************************/

a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00427b;
	background-color: transparent;
}
a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00427b;
	background-color: transparent;
}
a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00427b;
	background-color: transparent;
}

/******************************************
	Structural Classes: Header & Tables
******************************************/

.ist {
 	background-color: #FF9933 ;
}
.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #CC0000;
	background-color: #FFFFCC;
}
.introtexto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: left;
	line-height: 15px;
	padding: 20px;
	background-color: #FFFFFF;
}
.tablebrd {
	border: 1px solid #333333;
}

/******************************************
	Form Classes: Input & Input Table
******************************************/

.inputtable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	border-top: 1px solid #CCCCCC;
}
input.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	background-color: #b5bdd6;
	width: 100px;
}

/****************************************************
	Message for Old Browsers (not applied yet...)
*****************************************************/

.oldbrowser {
	display: none;
}
