/* logdotist.css | SOP : 21.08.2003*/

/******************************************
	Global Text Proprieties
******************************************/

body {
	background-color:/* #B5BDD6*/ #999;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	}
	
table, div, span {
	background-color: #fff;
	}

h1 {
	font: bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #036;
	margin: 0;
	padding: 20px 0 0 20px;
	}

/******************************************
	Global Link Proprieties
******************************************/

a:link, a:visited {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #00427b;
	background: transparent;
	}
	
/******************************************
	Structural Classes: Header & Tables
******************************************/

#container {
	margin: 100px auto 0 auto;
	background: #fff;
	width:500px;
	border: 1px solid #333;
	padding: 0 0 20px 0;
	}

#darkcontainer {
	margin: 100px auto 0 auto;
	background: #000;
	width:500px;
	border: 1px solid #ddd;
	padding: 0 0 20px 0;
	}

#dotist_id {
	height: 70px;
 	background:url("../images/header_bck.gif") repeat-x top;
 	margin: 0;
 	padding: 0 0 0 20px;
	}
	
#txt p {
	font: 11px/15px Verdana, Arial, Helvetica, sans-serif;
	padding: 0 20px 0 20px;
	}
	
#alert p{
	font: 11px/15px Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	margin: 0;
	padding: 0 20px 0 20px;
	}
	 
.error {
	font: bold 11px Verdana, Arial, Helvetica, sans-serif;
	color: #c00;
	text-align: center;
	background: #ffc;
	}

.wrapper {
	text-align: center;
	}

/******************************************
	Form Classes: Input & Input Table
******************************************/

form {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	}


input.button {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background: #b5bdd6;
	width: 100px;
	padding: 2px;
}

a.button {
	font:11px Verdana, Arial, Helvetica, sans-serif;
	color: #000;
	background: #b5bdd6;
	padding: 4px 6px;
	text-decoration: none;
	border-bottom: 2px solid #8c8a80;
	border-right: 2px solid #8c8a80;
	border-top: 2px solid #f8f7f0;
	border-left: 2px solid #f8f7f0;
}

/****************************************************
	Message for Old Browsers (not applied yet...)
*****************************************************/

.oldbrowser {
	display: none;
}
