/* --------------------------------------------------------
	main_r.css
	made by: Bruno Monteiro (GAEL)
	date: 04.03.2008
---------------------------------------------------------*/

body { font: 62.5% "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; background: #a2aebc; margin: 0; padding: 0; }
body * :target { display: inline; background-color: #FCFFBA; }
h1 { font: 1.8em/1em "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #069; }
h2 { font: bold 1.4em "Trebuchet MS", "bitstream vera sans", Georgia, Arial, Helvetica, sans-serif; margin: 0 0 0.5em 0; color: #c30; }
h2.blue	{ margin: 0.5em 0 0.5em 0; color: #069; }
h3 { font: bold 1.2em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; margin-bottom: 0; }
h3.grey { color: #666; }
h3.spaced { margin: 0.5em 0 0.5em 0; }
img { border: 0; }
a:link, a:visited { text-decoration: underline; color: #069; }
a:visited { color: #7a8f99; }
a:hover { text-decoration: none; color: #069; }
ul, ol { line-height: 1.5em; }
ul { list-style-type: square; }
li { padding: 0.3em 0 0.3em 0; }
ul li ul { font-size: 1em} 
.browser_upgrade { display: none;}

/***********************************************************
	structural classes: layout and position ids
***********************************************************/

#header { height: 80px; border-top: 10px solid #a8a88e; background: #eae7e4; }
#logoist { position: absolute; left: 40px; top: 25px; }
#header_links { position: absolute; font-size: 1em; color: #45556A; text-align: right; right: 40px; top: 20px; }
#header_links a:link, #header_links a:visited { text-decoration: none; font-weight: bold; color: #45556A; }
#header_links a:hover { text-decoration: underline; font-weight: bold; color: #45556A; }

/***********************************************************
	google search
***********************************************************/

#search { position: absolute; right: 40px; top: 55px; text-align: right; }
#textfield { font-size: 1em; margin: 0 10px }	
#submit { font: 1em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; background: #a2aebc; }

/***********************************************************
	sitewide profile navigation
***********************************************************/

#perfnav ul { margin: 0; padding: 0 0 0 156px; white-space: nowrap; }
#perfnav ul li { font: bold 1em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; list-style: none; float: left; margin: 0; padding: 0; line-height: normal; }
#perfnav a:link, #perfnav a:visited { float: left; height: auto; color: #45556A; text-decoration: none; margin: 0; padding: 4px 10px 4px 10px; white-space: nowrap; }
#perfnav a:link.active, #perfnav a:visited.active { color: #fff; background: #45556A; }
#perfnav a:hover { text-decoration: none; background: #C6CACF; color: #333; }
#holder { position: relative; clear: both; }

/****************************************************
	lat nav
****************************************************/

td#latnav_container { width: 155px; vertical-align: top; background: #eae7e4; border-right: 1px solid #ccc; padding: 0; margin: 0; white-space: nowrap; }
#latnav { /*float: left;*/ clear: left; left: 0px; top: 89px; background: #eae7e4;}
#latnav ul { width: 155px; list-style-type: none; font: 1.1em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; line-height: 20px; margin: 0; padding: 0; }
#latnav li { display: inline; margin: 0; padding: 0; }
#latnav li a:link, #latnav li a:visited { height: 1%; display: block; text-decoration: none; color: #333; border-bottom: 1px solid #ccc; padding: 0 0 0 10px;}
#latnav li a:hover { color: #333; background: #fff; }
#latnav li.nobrd { border-bottom: 0; border-left: 3px solid #999; }
.cluster_logo { clear:both; display: block; margin: 0 auto; padding-top: 5em; border: 0; }
.cmu_logo, .mit_logo, .c2007_logo, .austin_logo { clear:both; display: block; margin: 0 auto; padding-top: 2em; border: 0; }

/***********************************************************
	central content table & related elements
***********************************************************/

#bigtable { left: 155px; width: 100%; background: #fff; }
td#main { font-size: 1.1em; width: 100%; vertical-align: top; padding: 20px 30px 40px 30px; }	
td#main p, td#main table { font-family: "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; line-height: 1.63em;}
.image_container { height: 150px; text-align: center; }
.image_container_center { /* height: 150px; */ margin: 0; padding: 0; text-align: center;  }
.image_container img { border: none; vertical-align: middle; text-align: center; margin: 0; padding: 0; } /* margin: 0 10px 0 0 */
.spot_event_1 { background: url(http://www.ist.utl.pt/img/spot/tutorado_2006/tutorado_bck.gif) repeat-x; margin: 0; padding: 0; } /* Destaque: Tutorado 2008*/
.spot_event_2 { background: url(http://www.ist.utl.pt/img/spot/mit_candidaturas_2008/mit_bck.gif) repeat-x; margin: 0; padding: 0; } /* Destaque: Canidaturas MIT */
.spot_event_3 { background: url(http://www.ist.utl.pt/img/spot/candidato_2008/tile_back.gif) repeat-x; margin: 0; padding: 0; } /* Destaque: Candidato 2008 */
.noticias, .eventos, .campus { width: 30%; font: bold 1.5em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #fff; margin: 0; padding: 4px 0 4px 5px; text-align: left; }
.noticias { background: #a8a88e; }
.eventos {  background: #cc9; }
.campus {  background: #7d8a9c; }
.info_cell_holder { width: 30%; font: 1.1em/1.33em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; background: #fff; vertical-align: top; border-right: 1px solid #ccc; padding: 5px 10px 10px 10px; margin: 0;}
.info_cell_holder_nobrd { font: 1.1em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; background: #fff; vertical-align: top; padding: 5px 10px 5px 10px; }
.hp_p_spacer { margin: 5px 0;}
.page { background: url(http://www.ist.utl.pt/img/icon_page.gif) no-repeat 7px 50%; padding: 2px 0 2px 27px; }
.feed { background: url(http://www.ist.utl.pt/img/icon_feed.gif) no-repeat 10px 50%; padding: 2px 0 2px 30px; }

/***********************************************************
	page footer
***********************************************************/

#footer { height: 20px; font: 1em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #45556A; border-top: 10px solid #45556A; background: #a8a88e; padding: 5px 10px 5px 10px; }
#foot_links, #foot_copy { float: left; width: 30%; margin: 0; padding: 0; }
#foot_copy { float: right; width: 45%; text-align: right; }
#footer a:link, #footer a:visited { text-decoration: none; font-weight: bold; color: #45556A; }
#footer a:hover { text-decoration: underline; font-weight: bold; color: #45556A; }

/***********************************************************
	columns
***********************************************************/
	
.col_left, .col_left_photo { float: left; width: 150px; margin: 0 30px 0 0;}
.col_left_photo img { border: 2px solid #e2e2e2; } 
.col_right, .col_right_photo { float: right; width: 150px; margin: 30px; }
.col_right { width: 250px; }
.col_right_photo img { border: 2px solid #e2e2e2; margin-bottom: 20px;} 
.box { width: 250px; border: 1px solid #e2e2e2; margin: 0 0 1em 1em; }
.box p { margin: 0; } 
.box img { border: 0; }
#main .box_header { background: #ccc; padding: 3px 10px 3px 10px; }
#main .box_cell { background: #eae7e4; padding: 10px; }
#main td.box_cell p { font-size: 1em;}
.box ul { list-style-type: none; margin: 0; padding: 0; font-size: 1em; }
.spaced_table { border: 1px solid #ccc; background: #eae7e4; }
.spaced_table td { padding: 10px; }

/***********************************************************
	text and other util widgets
***********************************************************/
.skipto { display: none; }
.greytxt { color: #666; }
.grey_bright { color: #999; }
.px10 { font-size: 1em; } 
.photoframer { display: block; border: 2px solid #999; }
.nospace { margin: 0; padding: 0;}
.inline { display: inline; }
.clear { clear: both; }
.center { text-align: center; }
.post_date { font: 1em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #999; margin: 0; padding: 0; }	
.bottom_border { border-bottom: 1px solid #ccc; }
.redbox { color: #fff; background: #c30; padding: 3px 6px 3px 6px; }
.marker { background: #fffbc7; padding: 2px; }
.update { font-size: 0.9em; color: #999; background: #e8e8e8; padding: 2px 3px; }
.pdf_solo { background: url(http://www.ist.utl.pt/img/icon_pdf.gif) no-repeat 10px 50%; padding: 5px 0 5px 35px; }
.page { background: url(http://www.ist.utl.pt/img/icon_page.gif) no-repeat 7px 50%; padding: 2px 0 2px 27px; }
.feed { background: url(http://www.ist.utl.pt/img/icon_feed.gif) no-repeat 10px 50%; padding: 2px 0 2px 30px; }
ul.material { list-style-type: none; margin-left: 0; padding-left: 0; }
ul.material li.pdf { background: url(http://www.ist.utl.pt/img/icon_pdf.gif) no-repeat 10px 50%; padding-left: 35px; }
ul.material li.doc { background: url(http://www.ist.utl.pt/img/icon_doc.gif) no-repeat 13px 50%; padding-left: 35px; }
ul.material li.xls { background: url(http://www.ist.utl.pt/img/icon_excel.gif) no-repeat 13px 50%; padding-left: 35px; }
ul.material li.document { background: url(http://www.ist.utl.pt/img/icon_generic_doc.gif) no-repeat 13px 50%; padding-left: 35px; }
ul.material li.link { background: url(http://www.ist.utl.pt/img/icon_link.gif) no-repeat 10px 50%; padding-left: 35px; }
ul.material li.lightbulb { background: url(http://www.ist.utl.pt/img/icon_lightbulb.gif) no-repeat 10px 50%; padding-left: 35px; }
ul.material li.cellphone { background: url(http://www.ist.utl.pt/img/icon_cellphone.png) no-repeat 10px 50%; padding-left: 30px; }
ul.material li.submit { background: url(http://www.ist.utl.pt/img/icon_doc_edit.gif) no-repeat 13px 50%; padding-left: 35px; }

/***********************************************************
	licenciatura section
***********************************************************/

.degree_imageplacer { float: right; width: 250px; margin: 0 30px 0 30px; }

/***********************************************************
	mapa campus alameda section
***********************************************************/	

.alameda, .metro { width: 45%; float: left; margin: 1em 1em 2em 0; }
.alameda img , .metro img {float: left; margin: 0 20px 0 0; padding: 2px; border: 1px solid #ccc; }	
#main .maps p { font-size: 1em; color: #999; }
	
/***********************************************************
	general stripes layout table for www.ist.utl.pt
***********************************************************/

.tab_lay { border: 1px solid #e2e2e2; margin-bottom: 1.5em;}
.tab_lay th { color: #333; background: #ccc; text-align: left; padding: 5px; }
.tab_lay td { padding: 5px; height: 2em; }
.tab_lay td.subheader { font-weight: bold; color: #333; background: #e2e2e2; padding: 5px 5px 5px 5px; }
.tab_lay td.bluecell, .tab_lay tr.bluecell { background: #EDF3FE; }
.tab_themes { border: 1px solid #999; font-size: 11px; }
.tab_themes td { line-height: 1.5em; padding: 5px; height: 2em; }
.tab_themes td.title { background: #e2e2e2; }
.tab_themes h3 { color: #333; margin: 0; }
caption { font: bold 1.2em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; text-align: left; margin: 0 0.3em 0; padding: 1em 0 0.5em 0; }
#main p.table_comment { font-size: 0.9em; color: #666; margin: 0 0 1em 0; padding: 0; }

/***********************************************************
	context navigation
***********************************************************/

#contextual_nav { float: right; width: 200px; margin: 0 0 20px 20px; padding: 20px 0 20px 20px; /* border-left: 1px solid #ccc; */}
#contextual_nav h2 { color:#666; }
#contextual_nav ul, #contextual_nav li  { list-style-type: none; margin: 0; padding-left: 0; }
#contextual_nav ul { margin-bottom: 20px; padding-left: 15px; border-left: 1px solid #ccc; }
#contextual_nav li { background: url(http://www.ist.utl.pt/img/icon_redcircle.gif) no-repeat 0 50%; padding-left: 15px; }

/***********************************************************
 Errors
***********************************************************/

.serv_error_403 { background: url(http://www.ist.utl.pt/img/403.gif) no-repeat 30px 10px; }
.serv_error_404 { background: url(http://www.ist.utl.pt/img/404.gif) no-repeat 30px 10px; }

/***********************************************************
	sitemap
***********************************************************/

#sitemap ul { list-style-type: square; line-height: 0.9em; font-size: 1em; margin-top: 0.4em; }
#sitemap li { padding: 0.3em 0 0.3em 0; }
#sitemap h2.sitemap a:link, #sitemap h2.sitemap a:visited { font: bold 1em "bitstream vera sans", "Trebuchet MS", Georgia, Arial, Helvetica, sans-serif; text-decoration: underline; color: #c30; }
#sitemap h2.sitemap a:hover { text-decoration: none; background:#c30; color: #fff; padding: 2px 4px 2px 4px; }

/***********************************************************
	ensino - bolonha
***********************************************************/

#main .h_aux { font-weight: normal; color: #999; }
#main .h_aux a:link, #main .h_aux a:visited { text-decoration: none; color: #999; border-bottom: 1px solid #999; }
#main .h_aux a:hover { text-decoration: none; color: #999; border-bottom: 0; }
h3.question a:link, h3.question a:visited { text-decoration: none; color: #333; }
.question { margin-bottom: 20px; }	
.answer { background: #fff !important; border-left: 3px solid #e2e2e2; margin: 0 0 2em 2em; padding: 0 0 0 1em; }
.q_number { font: bold 2.2em "bitstream vera sans", "Trebuchet MS", Georgia, Arial, Helvetica, sans-serif; color: #d4cfb4; float: left; margin: -0.15em 0.5em 0 0; }
.h_box, .h_box_alt { background:#f6f6f6; width: 69%; padding: 0.75em; margin: 1em 0 ; border: 1px solid #e2e2e2; }
.h_box_alt { background: #FCFCEC; }
#main .tab_simpler { margin-bottom: 1em; }
#main .tab_simpler td { padding: 5px; }
#main .tab_simpler td.align_r { text-align: right; }

/***********************************************************
	complementary navigation hints
***********************************************************/

#main .breadcumbs { color: #999; padding-bottom: 1em; }
#main .breadcumbs a:link, #main .breadcumbs a:visited { text-decoration: none; color: #999; border-bottom: 1px solid #999; }
#main .breadcumbs a:hover { text-decoration: none; color: #999; border-bottom: 0; }
#version { margin: 0; padding: 0; }
#version * { margin: 0; padding: 0; }
#version { float: right; padding-top: 0em; }
#version img { padding: 1px; border: 1px solid #fff; }
#version img.activeflag { border: 1px solid #A2AEBC; background-color: #ccc; }