/* --------------------------------------------------------	main.css	made by: Bruno Monteiro (GAEL)	date: 15.08.2004---------------------------------------------------------*/body { font: 11px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; background: #a2aebc; margin: 0; padding: 0; }body * :target { display: inline; background-color: #FCFFBA; }h1 { color: #069; font: 18px/0.75em "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; clear: both; }h2 { font: bold 14px "Trebuchet MS", "bitstream vera sans", Georgia, Arial, Helvetica, sans-serif; margin: 0 0 0.5em 0; color: #c30; }h2.blue	{ margin: 0.5em 0 0.5em 0; color: #069; }h2.degree { font: bold 13px "Trebuchet MS", "bitstream vera sans", Georgia, Arial, Helvetica, sans-serif; margin: 0.5em 0 0.5em 0; color: #fff; background-image: url("/img/faixa_licenciatura.jpg"); background-repeat: no-repeat; }	h3 { font: bold 12px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; margin-bottom: 0; }h3.grey { color: #666; }
h4 { font-size: 11px; }img { border: 0; }a:link, a:visited { text-decoration: underline; color: #069; }a:hover { text-decoration: none; color: #039; }ul, ol { line-height: 1.5em; font-size: 11px; }ul { list-style-type: square; }li { padding: 0.3em 0 0.3em 0; }
form { margin: 0; padding: 0; }
/***********************************************************	structural classes: layout and position ids***********************************************************/#header { height: 80px; border-top: 10px solid #a8a88e; background: #eae7e4; }#logoist { position: absolute; left: 40px; top: 25px; }#header_links { position: absolute; font-size: 10px; color: #45556A; text-align: right; right: 40px; top: 20px; }#header_links a:link, #header_links a:visited { text-decoration: none; font-weight: bold; color: #45556A; }#header_links a:hover { text-decoration: underline; font-weight: bold; color: #45556A; }/***********************************************************	google search***********************************************************/#search { position: absolute; right: 40px; top: 55px; text-align: right; }#textfield { font-size: 10px; margin: 0 10px }	#submit { font: 10px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif;background: #a2aebc; }/***********************************************************	sitewide profile navigation***********************************************************/
#perfnav { height: 20px; }#perfnav ul { margin: 0; padding: 0 0 0 156px; white-space: nowrap; }#perfnav ul li { font: bold 11px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; list-style: none; float: left; margin: 0; padding: 0; line-height: normal; }#perfnav a:link, #perfnav a:visited { float: left; height: auto; color: #45556A; text-decoration: none; margin: 0; padding: 4px 10px 4px 10px; white-space: nowrap; }#perfnav a:link.active, #perfnav a:visited.active { color: #fff; background: #45556A; }#perfnav a:hover { text-decoration: none; background: #C6CACF; color: #333; }#holder { position: relative; clear: both; }/****************************************************lat nav****************************************************/td#latnav_container { width: 155px; vertical-align: top; background: #eae7e4; border-right: 1px solid #ccc; }#latnav { /*float: left;*/ clear: left; left: 0px; top: 89px; background: #eae7e4;}#latnav ul { width: 155px; list-style-type: none; font: 11px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; line-height: 20px; margin: 0px; padding: 0px; }#latnav li { display: inline; text-indent: 10px; margin: 0; padding: 0; }#latnav li a:link, #latnav li a:visited { height: 1%; display: block; text-decoration: none; color: #333; border-bottom: 1px solid #ccc; }#latnav li a:hover { color: #333; background: #fff; }
#latnav li a.rss { background: url(../images/rss_ico.png) 4px 4px no-repeat; padding: 1px 0 1px 13px; }
#latnav li a:hover.rss { background: #fff url(../images/rss_ico.png) 4px 4px no-repeat; padding: 1px 0 1px 13px; }
#latnav li.nobrd { border-bottom: 0; border-left: 3px solid #999; }
#latnav dl {text-indent: 0px; margin: 0px; padding: 0px; }
#latnav dd {text-indent: 0px; margin: 0px; padding: 0px; }
#latnav dd a:link, #latnav a:visited {height: 1%; display: block; text-decoration: none; color: #333; border-bottom: 1px solid #ccc; }
#latnav dd a:hover { color: #333; background: #fff; }

/***********************************************************	central content table & related elements***********************************************************/#bigtable { left: 158px; background: #fff; }td#main { width: 100%; vertical-align: top; padding: 20px 30px 40px 30px; line-height: 1.5em; }	td#main p, td#main div, td#main table { font: 11px/1.5em "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; }.spot_event { background: url(../img/spot/mestr_rec/mest_rec_bck.gif) repeat-x; /*#d1e7ec;  for current event: Mestrado em Conserva��o do Patrim�nio */ }.image_container { width: 600px; }.image_container h2 { font: 20px "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #F1AB30 /* for current event header: inscri 2004 */; text-align: left; margin: 0; padding: 2em 0 0 0; }.image_container h3 { font: bold 14px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; text-align: left; color: #279AC5; margin-top: 0; padding: 0; }.image_container p { font: 11px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #fff; text-align: left; }.image_container img { float: left; margin: 0 10px 0 0 /* default 0 10px 0 0 */; padding: 0; }.spot_event a:link, .spot_event a:visited { color: #279AC5; text-decoration: none; }.spot_event a:hover { color: #F1AB30; text-decoration: none; }.noticias, .eventos, .campus { font: bold 15px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #fff; padding: 0 0 0 5px; height: 25px; }.noticias { background: #a8a88e; }.eventos {  background: #cc9; }.campus {  background: #7d8a9c; }.info_cell_holder { font: 11px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; background: #fff; vertical-align: top; border-right: 1px solid #ccc; padding: 5px 10px 5px 10px; }.info_cell_holder_nobrd { font: 11px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #333; background: #fff; vertical-align: top; padding: 5px 10px 5px 10px; }p.info_bullet { padding: 1em 0 1em 1em; background: url(../img/icon_bluearrow.gif) no-repeat 0 1.2em; }h2.arrow_bullet { padding: 1.1em 0em 0em 1.2em; background: url(../images/icon_arrow.gif) no-repeat 0 1.2em; }
h3.arrow_bullet { padding-left: 1.4em; background: url(../images/icon_arrow.gif) no-repeat 0 0; }/***********************************************************	page footer***********************************************************/#footer { height: 20px; font: 10px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #45556A; border-top: 10px solid #45556A; background: #a8a88e; padding: 5px 10px 5px 10px; }#foot_links, #foot_copy { float: left; width: 30%; margin: 0; padding: 0; }#foot_copy { float: right; width: 45%; text-align: right; }#footer a:link, #footer a:visited { text-decoration: none; font-weight: bold; color: #45556A; }#footer a:hover { text-decoration: underline; font-weight: bold; color: #45556A; }/***********************************************************	columns***********************************************************/	.col_left, .col_left_photo { float: left; width: 150px; margin: 0 30px 0 0;}.col_left_photo img { border: 2px solid #999; } .col_right, .col_right_photo { float: right; width: 150px; margin: 30px; }.col_right { width: 250px; }.col_right_photo img { border: 2px solid #999; margin-bottom: 20px;} .box { width: 250px; border: 1px solid #999; margin-left: 1em; }.box p { margin: 0; } .box img { border: 0; }.box_header { background: #ccc; padding: 3px 10px 3px 10px; }.box_cell { background: #eae7e4; padding: 10px; }.box ul { list-style-type: none; margin: 0; padding: 0; }.spaced_table { border: 1px solid #ccc; background: #eae7e4; }.spaced_table td { padding: 10px; }/***********************************************************	text and other util widgets***********************************************************/.greytxt { color: #666; }
.redtxt { color: #c00; }	
.bluetxt { color: #369; }
.px10 { font-size: 10px; } .photoframer { display: block; border: 2px solid #999; }.inline { display: inline; }.clear { clear: both; }.center { text-align: center; }.post_date { font: 11px "Lucida Grande", "Trebuchet MS", "bitstream vera sans", Verdana, Arial, Helvetica, sans-serif; color: #666; margin: 0; padding: 0; }	.bottom_border { border-bottom: 1px solid #ccc; }.redbox { color: #fff; background: #c30; padding: 3px 6px 3px 6px; }/***********************************************************	complementary navigation hints***********************************************************/	#main .breadcumbs { color: #999; padding-bottom: 1em; }
#main .breadcumbs a:link, #main .breadcumbs a:visited { text-decoration: none; color: #999; border-bottom: 1px solid #999; }
#main .breadcumbs a:hover { text-decoration: none; color: #999; border-bottom: 0; }
/* .version { float: right; width: 20%; text-align: right; padding-bottom: 2em; }       old class*/
#version { margin: 0; padding: 0; }
#version * { margin: 0; padding: 0; }
#version { float: right; padding-top: 0em; }
#version input{ padding: 0 0.2em; }
#version input { padding: 1px; border: 1px solid #fff; }
#version input.activeflag { border: 1px solid #A2AEBC; background-color: #ccc; }

/***********************************************************	licenciatura section***********************************************************/.degree_imageplacer { float: right; width: 250px; margin: 0 30px 0 30px; }	/***********************************************************	general stripes layout table for www.ist.utl.pt***********************************************************/.tab_lay { border: 1px solid #999; font-size: 11px; }.tab_lay th { color: #333; background: #ccc; text-align: left; padding: 5px; }.tab_lay td { padding: 5px; height: 2em; }.tab_lay th.subheader { font: bold 12px "Trebuchet MS", "bitstream vera sans", Georgia, Arial, Helvetica, sans-serif; color: #333; background: #e2e2e2; padding: 5px 5px 5px 5px; }
.tab_lay td.subheader { font: bold 12px "Trebuchet MS", "bitstream vera sans", Georgia, Arial, Helvetica, sans-serif; color: #333; background: #e2e2e2; padding: 5px 5px 5px 5px; }.tab_lay td.bluecell { background: #EDF3FE; }.tab_themes { border: 1px solid #999; font-size: 11px; }.tab_themes td { line-height: 1.5em; padding: 5px; height: 2em; }.tab_themes td.title { background: #e2e2e2; }.tab_themes h3 { color: #333; margin: 0; }/***********************************************************	context navigation***********************************************************/#contextual_nav { float: right; width: 200px; margin: 0 0 20px 20px; padding: 20px 0 20px 20px; /* border-left: 1px solid #ccc; */}#contextual_nav h2 { color:#666; }#contextual_nav ul, #contextual_nav li  { list-style-type: none; margin: 0; padding-left: 0; }#contextual_nav ul { margin-bottom: 20px; padding-left: 15px; border-left: 1px solid #ccc; }#contextual_nav li { background: url(/img/icon_redcircle.gif) no-repeat 0 50%; padding-left: 15px; }#contextual_nav li { background: url(../images/icon_redcircle.gif) no-repeat 0 50%; padding-left: 15px; }/*********************************************************** Errors***********************************************************/.serv_error_403 { background: url(http://www.ist.utl.pt/img/403.gif) no-repeat 30px 10px; }.serv_error_404 { background: url(http://www.ist.utl.pt/img/404.gif) no-repeat 30px 10px; }/***********************************************************	sitemap***********************************************************/#sitemap ul { list-style-type: square; line-height: 0.9em; font-size: 10px; margin-top: 0.4em; }#sitemap li { padding: 0.3em 0 0.3em 0; }h2.sitemap a:link, h2.sitemap a:visited {  font: bold 12px "Trebuchet MS", "bitstream vera sans", Georgia, Arial, Helvetica, sans-serif; text-decoration: underline; color: #c30; }h2.sitemap a:hover { text-decoration: none; background:#c30; color: #fff; padding: 2px 4px 2px 4px; }


/***********************************************************
	Execution Course - Annoucements
***********************************************************/

div.announcement {
/*width: 500px;*/
padding-top: 0.5em;
background: url(../images/ann_sep.gif) top left repeat-x;
}
div.announcement div.ann_body div, div.announcement div.ann_body p {
margin: 0;
padding: 0;
}
div.announcement div.ann_body br {
margin: -4px 0;
padding: 0;
}

div.announcement h3 a { text-decoration: none; }
.greytxt2 { color: #999; }


div.announcement div.ann_body * { /* overrides user defined font-family and font-size */
font-size: 1.0em !important;
font-family: Verdana, Arial, Helvetica, sans-serif !important;
}



/* ----------------------
------ Unit Site -------
----------------------- */

div.unitname {
position: absolute;
left: 93px;
top: 38px;
}
div.unitname h1 {
display: inline;
padding: 1em 0;
color: #45556a;
font-family: "Trebuchet MS", "Bitstream Vera Sans", Tahoma, Verdana, Arial, Helvetica, sans-serif;
font-size: 21px;
font-weight: bold;
}
div.unitname p {
color: #7a8899;
margin-top: 5px;
}


/* -----------------------------------
--- General.css shared properties ---
------------------------------------ */

.showinfo3 {
border-collapse: collapse;
margin: 1em 0;
}

.showinfo3 th {
vertical-align: top;
font-weight: normal;
border-bottom: 1px solid #aaa;
padding: 0.5em;
text-align: left;
}
.showinfo3 td {
border-bottom: 1px solid #ddd;
padding: 0.5em;
}



/***********************************************************
	General - Fenix
***********************************************************/

.altJavaScriptSubmitButton { display:block; }
.showHideDetailsButton { display:none; }

table.smalltxt tr td { font-size: 0.85em;}
.smalltxt { font-size: 0.85em; }

/* accessibility javascript */
.switchInline { display: none; }
.switchBlock { display: none; }
.switchNone { display: block; }
.dnone { display: none; }
.dinline { display: inline; }
.dblock { display: block; }

.nobullet { list-style: none; }

.cnone { clear: none; }
.mtop0 { margin-top: 0 !important; }
.mtop025 { margin-top: 0.25em;}
.mtop05 { margin-top: 0.5em;}
.mtop1 { margin-top: 1em;}
.mtop15 { margin-top: 1.5em;}
.mtop2 { margin-top: 2em;}
.mtop3 { margin-top: 3em;}
.mbottom0 { margin-bottom: 0 !important; }
.mbottom025 { margin-bottom: 0.25em;}
.mbottom03 { margin-bottom: 0.3em;}
.mbottom05 { margin-bottom: 0.5em;}
.mbottom1 { margin-bottom: 1em;}
.mbottom15 { margin-bottom: 1.5em;}
.mbottom2 { margin-bottom: 2em;}
.mbottom3 { margin-bottom: 3em;}
.mleft0 { margin-left: 0; }
.mleft1 { margin-left: 1em; }
.mvert0 { margin-top: 0; margin-bottom: 0; }
.mvert025 { margin-top: 0.25em; margin-bottom: 0.25em; }
.mvert05 { margin-top: 0.5em; margin-bottom: 0.5em; }
.mvert1 { margin-top: 1em; margin-bottom: 1em; }
.mvert2 { margin-top: 2em; margin-bottom: 2em; }
.mvert3 { margin-top: 3em; margin-bottom: 3em; }
.indent6 { margin-left: 6em; }
.indent9 { margin-left: 9em; }
.indent12 { margin-left: 12em; }
.indent15 { margin-left: 15em; }
.indent18 { margin-left: 18em; }
.indent21 { margin-left: 21em; }
.indent24 { margin-left: 24em; }

table.thlight th { font-weight: normal; }
table.thright th { text-align: right; }
table.thleft th { text-align: left; }
table.thwhite th { background: #fff; }

.bold { font-weight: bold; }


/* background-colors */
.highlight1 { background-color: #fff7bb; } /* amarelo */
.highlight2 { background-color: #f5f5f5; } 
.highlight3 { background-color: #def; } /* azul */
.highlight4 { background-color: #dfb ; } /* verde */
.highlight5 { background-color: #fdfbdd; } /* amarelo */
.highlight6 { background-color: #ffc; }
.bgcolor1 { background-color: #fcfcf0; }
.bgcolor2 { background-color: #fbfbdd; }
.bgcolor3 { background-color: #fafaf6; }
.bgcolor4 { background-color: #f8f8f8; }
.bgcolorfafafa { background-color: #fbfbfb; }


/* content output margin reset 1 */
.coutput1 div, .coutput1 p {
margin: 0;
padding: 0;
}
.coutput1 blockquote {
margin-top: 0.25em;
margin-bottom: 0.25em;
}

/* content output margin reset 2 */
.coutput2 div, .coutput2 p, .coutput2 span p {
margin: 0.25em 0;
padding: 0.25em 0;
}
p.coutput2 {
}

.coutput2 blockquote {
margin-top: 0.5em;
margin-bottom: 0.5em;
}


.coutput2 ul {
margin-top: 0.5em;
margin-bottom: 0.5em;
}
.coutput2 ul li {
margin-top: 0;
margin-bottom: 0;
padding-top: 0.15em;
padding-bottom: 0.15em;
}

.permalink1 {
color: #999;
font-size: 10px;
font-weight: normal;
}
.permalink1 a {
color: #999;
}

ul.liinline {
margin: 0;
padding: 0;
}
ul.liinline li {
display: inline;
margin: 0;
padding: 0 0.25em;
}

/* noborder */
table.noborder { padding-left: 1em; padding-bottom: 1em; }
table.noborder tr td { border: none; }
table.noborder tr td { padding: 0; margin: 0; }
td.noborder { border: none; }

/** temporary place for teachers and employees presentation */
.personInfo tr td {
vertical-align: top;
}
td.personInfo_photo {
width: 115px;
text-align: center;
}
td.personInfo_photo div {
width: 105px;
border: 1px solid #ccc;
background: #fafafa;
padding: 0.5em;
}
td.personInfo_info {
padding-left: 0.5em;
}

table.personInfo2 tr {
margin: 0;
padding: 0;
}
table.personInfo2 tr td {
margin: 0;
padding: 0;
}

/* ----------------------
------- Tables ---------
----------------------- */

table caption {
padding: 0.5em 1em 0.1em 1em;
font-style: italic;
}

.tstyle1, .tstyle2, .tstyle3, .tstyle4, .tstyle5, .tstyle7, .tstyle8 {
border-collapse: collapse;
margin: 1em 0;
}

table.tstylenone { margin: 0; padding: 0; }
table.tstylenone th { border: none; background: none; margin: 0; padding: 0.1em; }
table.tstylenone td { border: none; background: none; margin: 0; padding: 0.1em; }

/* --------------------- */
/* General table classes */

/* vertical aligment */
table.thtop th { vertical-align: top; }
table.thmiddle th { vertical-align: middle; }
table.tdtop td { vertical-align: top; }
table.vamiddle td, table.vamiddle th { vertical-align: middle; }

/* font-weight */
table.thlight th { font-weight: normal; }
table.thbold th { font-weight: bold; }
.tdbold td { font-weight: bold; }

/* text-align */
table.taleft th, table.taleft td { text-align: left; }
table.taright th, table.taright td { text-align: right; }
table.tacenter th, table.tacenter td { text-align: center; }
table.thleft th { text-align: left; }
table.thright th { text-align: right; }
table.thcenter th { text-align: center; }
.tdleft td { text-align: left; }
.tdright td { text-align: right; } /* take table from all, to work with tr ? */
.tdcenter td { text-align: center; }

/* background-color */
table.thbgnone th { background: none; }

/* delete? */
table .aleft  { text-align: left; }
table .aright  { text-align: right; }

/* paddings */
.tpadding01 th, .tpadding01 td {
padding: 4px 1px;
}
table.tdpright2 td {
padding-right: 4em;
}
/*
table.cellpadding3 tr th, table.cellpadding3 tr td {
padding: 3px;
}
*/

/* nostyle */
.tstylenone th, .tstylenone td {
border: none;
background: none;
}
/* noborder */
table.noborder { padding-left: 1em; padding-bottom: 1em; }
table.noborder tr td { border: none; }
table.noborder tr td { padding: 0; margin: 0; }

/* txt */
table.smalltxt tr td { font-size: 0.85em;}

.emphasis1 th { background: #ffc; }
.emphasis2 th { font-weight: bold; }

/* -------------------- */
/* General cell classes */

/* corners */
table th.cornerleft { background: none; border-left: none; border-top: none; }
table th.cornerleft2 { background: none; border-left: none; border-top: none; border-bottom: none; }
table td.cornerright { }

/* error , warning */
.tderror1 { color: #c00; }
.tderror1 span { background-color: #ffeadd; }

.nowrap { white-space: nowrap; }
.breakword { word-wrap: break-word; }


/* ------------------------- */
/* Table classes definitions */

/* table classes - general properties */
.tstyle1 { }
.tstyle2 { }
.tstyle3 { border: 2px solid #ccc; }
.tstyle4 { }
.tstyle5 { }
.tstyle7 { }
.tstyle8 { }


/* table classes - th properties */

.tstyle1 th, .tstyle2 th, .tstyle3 th, .tstyle4 th {
padding: 5px; /* different top/bottom padding affect left/right padding rendering in different tables with same dimensions (?) */
text-align: center;
}


.tstyle1 th { border: 1px solid #ccc; background: #f8f8f8;}
.tstyle2 th { border: none; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; background: #f5f5f5; }
.tstyle3 th { border: 1px solid #ccc; background: #eee; }
.tstyle4 th { border: 1px solid #ccc; background: #eee; }
.tstyle5 th { padding: 4px; border: 1px solid #fff; vertical-align: top; background: #f5f5f5; }
.tstyle7 th { border: 1px solid #eee; background: #eee; }
.tstyle8 th { padding: 4px; border: 1px solid #fff; background: #f5f5f5; }


/* table classes - td properties */

.tstyle1 td, .tstyle2 td, .tstyle3 td, .tstyle4 td  {
padding: 5px; /*padding em "em" tem problemas de rendering no firefox, faz arredondamentos incoerentes */
}

/*
fa - fbfaf8
f8 - faf9f5
f5 - f8f6f1
ee - f3f0e7
cc - dad3ba
*/

.tstyle1 td { border: 1px solid #ccc; background-color: #fff; }
.tstyle2 td { border: none; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; background-color: #fff; }
.tstyle3 td { border: 1px solid #ccc; background-color: #fafafa; }
.tstyle4 td { border: 1px solid #ccc; background-color: #fafafa; }
.tstyle5 td { padding: 4px; border: 1px solid #fff; background: #f5f5f5; }
.tstyle7 td { border: 1px solid #eee; background: #eee; }
.tstyle8 td { padding: 4px; background-color: #fff; }


/* table classes - tr properties */

table tr.bgwhite td {
background: #fff;	
}


/* ------------ */
/* Miscelaneous */

.leftcol { text-align: right; vertical-align: top; }
td.tdclear {  /* used in renderers column dedicated to feedback messages*/
border-right: none;
border-bottom: none;
border-top: none;
background: none;
}
td.tdwarning span {
background-color: #fff8bb; color: #664400;
}

table.ulnomargin tr td ul { margin: 0; padding: 0; }
table.ulnomargin tr td ul li { margin: 0; padding: 0; }


table.mtop05 { margin-top: 0.5em; }
table.smallmargin td { padding: 0.25em; }
	/* n�o funcionava com indent ou padding normal? testar*/
td.pleft1 { padding-left: 1em; }
td.pleft2 { padding-left: 2em; }
td.pleft3 { padding-left: 3em; }
td.pleft4 { padding-left: 4em; }
td.pleft5 { padding-left: 5em; }
td.pleft6 { padding-left: 6em; }

/* ----------------------
------ Feedback  -------
----------------------- */

.error0 { /*margin: 1em 0; padding: 0.1em 0.3em 0.1em 0.3em;*/ background-color: #ffeadd; color: #c00; /*padding: 0.1em 0.2em;*/ }
.error1, .error2 { background-color: #ffeadd; color: #c00; }
.error1 { border: 2px solid #c00; }
.error1 h4 { border-bottom: 1px dotted #d00; background: #fff; color: #c00; }
.error1 p { padding: 0.5em 0.5em;}
.error2 { padding: 0.2em 0.5em 0.2em 28px; background: #ffeadd) 6px 50% no-repeat; }

.success0 { margin: 1em 0; padding: 0.2em 0.5em 0.2em 0.5em; background-color: #e2f5e2; color: #146e14; }
.success1, .success2, .success3 { background-color: #efe; color: #070; }
.success1 { border: 2px solid #0a0; }
.success1 h4 { border-bottom: 1px dotted #0a0; background: #fff; }
.success1 p { background-color: #efe; padding: 0.5em 0.5em;}
.success2 h4 { border-bottom: 1px dotted #0a0; background: #fff; }
.success2 p { padding: 0.5em 0.5em;}
.success3 { padding: 0.2em 0.5em 0.2em 28px; background: #efe; }
.success4 { margin: 1em 0; padding: 0.2em 0.5em 0.2em 28px; background: #dfd; color: #070; }

.warning0 { margin: 1em 0; padding: 0.1em 0.3em 0.15em 0.3em; background-color: #fbf8cc; color: #805500; }


/* ----------------------
----- To Organize ------
----------------------- */

table .tab_lay {
width: 100%;
margin-bottom: 1em;
}
table .tab_lay th {
font-size: 130%;
}
table .tab_lay th center {
vertical-align: middle;
padding: 0;
margin: 0;
font-size: 80%;
text-decoration: underline;
}


ul.ostructure li.osrootunit h3 { margin: 0; }

ul.ostructure1 li.osrootunit h3 { margin: 0; }
ul.ostructure1 { padding-left: 2em; padding-top: 0.75em; }
ul.ostructure1 ul { padding-left: 1.5em; padding-top: 1.0em; padding-bottom: 1.0em; }
/*
ul.ostructure1 .osrootunit { padding-left: 1em; }
ul.ostructure1 .osfunction { padding-left: 1em; }
*/



/** temporary place for teachers and employees presentation */

div.personalcard {
/*
border: 1px solid #ccc;
background: #fafafa;
border-bottom: 1px dotted #999;
*/
padding: 0.5em;
	margin-top: 0em;
	margin-bottom: 1em;
	background: #fafafa;
	border-bottom: 1px dotted #999;
}
.personalcard table {
margin-top: 0em;
margin-bottom: 0em;
}
.personalcard table tr td {
vertical-align: top;
}
td.personalcard_photo {
width: 115px;
text-align: center;
}
td.personalcard_photo div {
width: 105px;
border: 1px solid #ccc;
background: #fff;
padding: 0.5em;
}
td.personalcard_info {
padding-left: 0.5em;
}
td.personalcard_info ul {
padding-left: 1em;
}


/* lists */
.ulindent15 ul, ul.ulindent15 {
margin-left: 1.5em; /* IE */
padding-left: 1.5em; /* FF */
}

.infoop2 {
background-color: #faf5de; /*faf5de,f2e5a6 or f5fade,e5f2a6 */
vertical-align: middle;
padding: 0.5em 0.75em;
border-bottom: 1px solid #f2e5a6;
margin: 0.5em 0;
}

.infoop2 p { margin: 0.25em 0; }
.width100px { width: 100px; }
.width300px { width: 300px; }
.width500px { width: 500px; }

fieldset {
margin: 1em 0;
padding: 1em;
border: 1px solid #e1e1dc;
background: #f0f0e2 url(../images/fieldset_bg_01.gif) top left repeat-x;
}
fieldset legend {
margin: 0;
padding: 0 0.5em;
color: #000;
font-weight: bold;
font-size: 1.2em;
}
.tstyle0 tr td {
padding: 4px;
}