/* posgrad CSS v.1 - 17.06.2003 */

/**************************************** 
	Global Text Proprieties 
*****************************************/

body {
	font: 11pt Georgia, sans-serif;
	color: #fff;
	text-align: left;
 	/* margin: 5em 2em 5em 1.5em; */
	}
	
table, p {
	font: 10pt/1.5em Georgia, sans-serif;
	color: black;
}

p 	{
	text-align: justify;
	}

table {
	width: 95%;
	margin: 0 2em 0 1.5em;
	}

table#diploma {
	width: 95%;
	margin: 0;
	padding: 0;
	}

h2	{
	font: bold 13pt "Trebuchet MS", Georgia, sans-serif;
	color: black;
	}

h3 {
	font: bold 13pt "Trebuchet MS", Georgia, sans-serif;
	color: black;
	}


h2.diploma_posGrad	{
	font: 42px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	/*color: #036;*/
	padding: 0; 
	margin: 0 0 2em 0;
	}	

	
h3.diploma_posGrad {
	font: 20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #223d4a;
	padding: 0;
	margin: 0 0 0.5em 0;
	}

h4.diploma_posGrad {
	font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #223d4a;
	padding: 0;
	margin: 0 0 0.5em 0;
	}
	
.diplomado {
	font: 22px "Times New Roman", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
	text-align: center;
	margin: 0 0 0.5em 0;
	}
	
.dipl_signature {
	text-align: center;
	margin: 5em 0 0 0;
	}
	
	
/******************************************
	Global Links Proprieties
*******************************************/

a:link {
	font: 9pt Georgia, sans-serif;
	color: black;
	text-decoration: underline;
	}

a:visited {
	font: 9pt Georgia, sans-serif;
	color: #00427b;
	}

/********************************************
	Structural & Templating Classes
********************************************/

.centerContent {
	text-align: center;
	}
	
#header *, #footer *, #navbargeral *, #navopgeral *, #navlateral *, #hdr-nav *, #logged *,#navgeral *{
    display: none;
	}

.bodycontent {
	width: 100%;
	font: 11pt/0.5em Georgia, sans-serif;
	color: #000;
	margin: 0;
	padding 0;
	vertical-align: top;
	}

/**********************************************
	 for navLateral multi use 
***********************************************/	

.navlateral-td {
	display: none;
	}
	
.navlateral-td {
	display: none;
	}

/**********************************************
	 FORMS Classes: inputs
***********************************************/

.error {
	font: bold 11pt Georgia, sans-serif;
	color: red;
	background: yellow;
	}	
	
.inputlist {
	font: 11pt Georgia, sans-serif;
	color: black;
	}
	
.inputbutton {
	display: none;
}

.inputbuttonSmall {
	font: 11pt Georgia, sans-serif;
	color: black;
	background: #b5bdd6;
	}

/*****************************************************************
	TABLE Classes: Info TD + Info TD with Icons + ListClasses
******************************************************************/

.infoIcons {
	background: #ebeced;
	vertical-align: middle;
	padding-left: 10pt;
	border-bottom: 1pt solid #ccc;
	width: 15pt;
	}
	
.infoop {
	background-color: #ebeced;
	vertical-align: middle;
	padding: 5pt 5pt;
	border-bottom: 1pt solid #ccc;
	}
	
.infoselected {
	background-color: #ffc;
	padding: 5pt 10pt;
	border: 1px dotted #333;
	text-align: left;
	}

.infotable {
	background: #ebeced;
	padding: 10pt;
	border: 1pt solid #ccc;
	}                         

.bottomborder {
	border-bottom: 1pt solid #ccc;
	}  
	
.formTD	{
	text-align: left;
	height: 15pt;
	width: 100pt;
	}
	
.listClasses	{
	background: #ebeced;
	border: 1pt solid #ccc;
	text-align: center;
	height: 15pt;
	}
	
.listClasses-header	{
	background: #999;
	font-weight: bold;
	text-align: center;
	padding: 2pt;
	}

#vert-spacer {
	margin-top: 6em;
	}

/*****************************************************************
	Misc text styles
******************************************************************/

.greytxt {
	font: 11pt  Georgia, sans-serif;
	color: #666;
	}

.inline {
	display: inline;
	}
	
.px9-b {
	font: bold 8pt/1em Georgia, sans-serif;
	color: #333;
	}
	
/*****************************************************************
	for hidden misc elements
******************************************************************/

.invisible {
	display: none;
	}
	
/*****************************************************************
	final results table
******************************************************************/	

.header-first{
	font: 9pt Georgia, sans-serif;
	text-align: center;
	color: #333;
	background: #ccc; 
	padding: 5px;
	border: 1px solid #333;
	}
	
.header {
	font: 9pt Georgia, sans-serif;
	text-align: center;
	color: #333;
	background: #ccc;
	padding: 5px;
	border-top:1px solid #333;
	border-bottom: 1px solid #333;
	}
	
.header-last {
	font: 9pt Georgia, sans-serif;
	text-align: center;
	color: #333;
	padding: 5px;
	background: #ccc;
	border: 1px solid #333;
	}
	
.cell-first {
	font: 9pt Georgia, sans-serif;
	color: #333;
	padding: 5px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	}
	
.cell-middle {
	font: 9pt Georgia, sans-serif;
	text-align: center;
	border-top: 1px solid #333;
	color: #333;
	padding: 5px;
	}
	
.cell-last{
	font: 9pt Georgia, sans-serif;
	text-align: center;
	color: #333;
	padding: 5px;
	border-top: 1px solid #333;
	border-right: 1px solid #333;
	border-left: 1px solid #333;
	}

.results {
	font: 9pt Georgia, sans-serif;
	color: #333;
	padding: 5px;
	border-top: 1px solid #333;
	}
		
.apura-final {
	font: 9pt Georgia, sans-serif;
	color: #333;
	border: 1px solid #333;
	padding: 5px;
	}
	
.apura-pt9	{
	font: 9pt Georgia, sans-serif;
	color: #333;
	}
	
.homologo	{
	float: left;
	display: inline;
	width: 30%;
	margin-left: 100px;
	padding-bottom: 4em;
	border-bottom: 1px solid #333;
	}
	
.consid	{	
	float: right;
	display: inline;
	width: 30%;
	margin-right: 100px;
	padding-bottom: 4em;
	border-bottom: 1px solid #333;
	}