table .tab_lay {
width: 100%;
margin-bottom: 1em;
}
table .tab_lay th {
font-size: 130%;
}

table .tab_lay th center {
vertical-align: middle;
padding: 0;
margin: 0;
font-size: 80%;
text-decoration: underline;
}