/* The main calendar widget.  DIV containing a table. */

div.calendar {
margin: 0 auto;
text-align: center;
position: relative;
padding: 0.5em 1em 1em 1em;
background: #f5f5f5;
border: 1px solid #777;
}

.calendar, .calendar table {
font-size: 11px;
font-family: Verdana;
cursor: default;
font-family: Verdana,sans-serif;
}

.calendar table {
/*border-collapse: collapse;*/
margin-bottom: 0;
padding-bottom: 0;
}
/* Header part -- contains navigation buttons and day names. */
.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
text-align: center;    /* They are the navigation buttons */
padding: 2px;          /* Make the buttons seem like they're pressing */
color: #000;
border: 0px solid #000;
}
.calendar .button div {
border: 1px solid #aaa;
color: #000;
background: #eee url(../images/grad01.gif) top left repeat-x;
}

.calendar .nav {
background: transparent url(menuarrow.gif) no-repeat 100% 100%;
}

/* 1ª LINHA */

.calendar thead .title { /* This holds the current "month, year" */
font-weight: bold;      /* Pressing it will take you to the current date */
text-align: center;
color: #105c93;
padding: 2px;
}


/* 2ª LINHA */

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
background: #888;
color: #fff;
background: none;
	/* <<<<<<<<<<<<<<<<<<<<<<<<< */
}

.calendar thead .headrow td { /* Row <TR> containing navigation buttons */
border: none;
}
.calendar thead .headrow td.button { /* Row <TR> containing navigation buttons */
}



/* 3ª LINHA */

.calendar thead .daynames { /* Row <TR> containing the day names */
}

/* 3ª LINHA - DAY NAMES */

.calendar thead .name { /* Cells <TD> containing the day names */
padding: 6px 2px;
text-align: center;
color: #000;
}

/* 3ª LINHA - WEEKEND NAMES */

.calendar thead .weekend { /* How a weekend day name shows in header */
}



.calendar thead .hilite { /* How do the buttons in header appear when hover */
background: #eee;
color: #105c93;
border: 1px solid #04f;
padding: 1px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
background-color: #ccc;
padding: 2px 0px 0px 2px;
color: #FFFFFF;
}









/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
width: 25px;
color: #105c93;
text-align: right;
padding: 2px 4px 2px 2px;
background: #fff;
border: 1px solid #ccc;
}
.calendar tbody .day.othermonth {
font-size: 80%;
color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
color: #fbb;
}

.calendar table .wn {
padding: 2px 3px 2px 2px;
border-right: 1px solid #888;
background: #eee;
}

.calendar tbody .rowhilite td {
background: #f5f5f5;
}

.calendar tbody .rowhilite td.wn {
background: #f5f5f5;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
	background: #ddd;
/*
	padding: 1px 3px 1px 1px;
*/
	border: 1px solid #999;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
background: #cde;
padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing selected date */
/*
font-weight: bold;
background: #eee;
color: #000;
*/
}

.calendar tbody td.weekend { /* Cells showing weekend days */
}

.calendar tbody td.today { /* Cell showing today date */
font-weight: bold;
background: #eee;
color: #000;
}

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
text-align: center;
color: #fff;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
color: #555;
padding: 1px;
	visibility: hidden; /*<<<<<<<<<<<<<<<<*/
	font-size: 0; /*<<<<<<<<<<<<<<<<*/
	line-height: 0;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
background: #aaf;
border: 1px solid #04f;
color: #000;
padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
background: #77c;
padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
position: absolute;
display: none;
top: 0px;
left: 0px;
width: 4em;
cursor: default;
border: 1px solid #655;
background: #F8F6F0;
color: #105c93;
font-size: 90%;
z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
text-align: center;
padding: 1px;
}

.calendar .combo .label-IEfix {
width: 4em;
}

.calendar .combo .hilite {
background: #C8C6C0;
}

.calendar .combo .active {
border-top: 1px solid #aaaaaa;
border-bottom: 1px solid #aaaaaa;
background: #ddd;
font-weight: bold;
}

.calendar td.time {
border-top: 1px solid #888;
padding: 1px 0px;
text-align: center;
background-color: #f4f0e8;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
padding: 0px 3px 0px 4px;
border: 1px solid #889;
font-weight: bold;
background-color: #fff;
}

.calendar td.time .ampm {
text-align: center;
}

.calendar td.time .colon {
padding: 0px 2px 0px 3px;
font-weight: bold;
}

.calendar td.time span.hilite {
border-color: #000;
background-color: #667;
color: #fff;
}

.calendar td.time span.active {
border-color: #f00;
background-color: #000;
color: #0f0;
}

/*
div.calendar table tr td {
border-width: 1px;
border-style: solid;
border-color: #000;
}
*/