/* logdotist.css | SOP : 21.08.2003*/

/******************************************
Global Text Proprieties
******************************************/

body {
background-color: #999;
font: 11px Verdana, Arial, Helvetica, sans-serif;
line-height: 1.5em;
padding-bottom: 40px;
}

div, form {
margin: 0;
padding: 0;
}

h1 {
font: bold 15px "Trebuchet MS", Arial, Helvetica, sans-serif;
color: #036;
margin: 0;
padding: 20px 0 0 20px;
}

/******************************************
Global Link Proprieties
******************************************/

a:link, a:visited {
font: 11px Verdana, Arial, Helvetica, sans-serif;
color: #00427b;
background: transparent;
}

/******************************************
Structural Classes: Header & Tables
******************************************/

table#wrapper {
width: 600px;
margin: 60px auto 0 auto;
border-collapse: collapse;
border: none;
}

#container {
background: #fff;
/* width: 600px; */
border: 1px solid #113344;
padding: 0 0 20px 0;
}

#dotist_id {
height: 70px;
background: #16576b;
border-bottom: 4px solid #277b97;
margin: 0;
padding: 0 0 0 10px;
}

#txt p {
padding: 0 20px 0 20px;
}

.error {
font: bold 11px Verdana, Arial, Helvetica, sans-serif;
text-align: center;
background: #ffc;
color: #c00;
}


div.form {
margin: 20px 0 10px 0;
}
table.tform {
border-collapse: collapse;
border: 1px solid #ddd;
}
table.tform td, table.tform th {
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 10px 10px;
}
table.tform th {
font-weight: normal;
text-align: left;
vertical-align: top;
padding-right: 10px;
white-space: nowrap;
}
table.tform p {
margin: 0;
}
table.tform .smalltxt {
color: #888;
font-size: 0.9em;
}
div.form table.tform tr.inputtext td input {
background: #fafafa;
padding: 4px 4px;
border: 1px solid #7f9db9;
}
div.form table.tform tr.textarea td textarea {
background: #fafafa;
padding: 4px 4px;
border: 1px solid #7f9db9;
}
div.form table.tform tr.select td select {
background: #fafafa;
border: 1px solid #7f9db9;
padding: 1px;
}
.tderror1 { color: #c00; white-space: nowrap; }
.tderror1 span { background-color: #ffeadd; }


.aleft { text-align: left; }
.acenter { text-align: center; }
.aright { text-align: right; }
.mtop0 { margin-top: 0; }
.mtop15 { margin-top: 1.5em; }
.mbottom05 { margin-bottom: 0.5em; }
.mbottom1 { margin-bottom: 1em; }

.inobullet ul { list-style: none; padding-left: 0; }
.inobullet ul li { list-style: none; }

.textareaw400 textarea { width: 400px; }
.textareah100 textarea { height: 100px; }
.inputw400 input { width: 400px; }


table.feedback {
border: none;
margin: 1em 2em 0 2em;;
}
table.feedback td {
border: none;
}
table.feedback td h1 {
padding-top: 0;
}