* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.overall-description {
  border: 1px solid lightgray;
  margin: 4rem 0;
  padding: 2rem; }
  .overall-description dt {
    width: 15rem;
    text-align: right; }

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-size: 16px;
  margin: 2em;
  border: 1px solid #DADADA;
  max-width: 25.25em;
  min-width: 19.25em; }
  .card header, .card .total, .card .details, .card .interest, .card footer {
    padding: 0 1em; }
  .card header h1 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.3;
    margin: .5em; }
  .card dt {
    width: 5.6em;
    text-align: right;
    margin-right: 1rem; }
  .card .status {
    background-color: rgba(74, 144, 226, 0.3);
    padding: .5em 1em;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    color: #565656;
    background-color: #FEED7B;
    border-color: #e0c61a;
    border-top: 1px solid #e0c61a;
    border-bottom: 1px solid #e0c61a;
    margin-bottom: 1rem; }
  .card.passed-limit .progress {
    background: rgba(254, 237, 123, 0.5); }
    .card.passed-limit .progress div {
      background-color: #e0c61a; }
  .card.passed-limit .status {
    background-color: rgba(255, 0, 0, 0.3);
    border-color: red; }
  .card.passed-limit .limit-date dt, .card.passed-limit .limit-date dd {
    color: red; }
  .card.fully-paid .progress {
    background: rgba(206, 237, 143, 0.5); }
    .card.fully-paid .progress div {
      background-color: #CEED8F; }
  .card.fully-paid .status {
    background-color: #CEED8F;
    border-color: #A7CC5B; }
  .card .details {
    margin: .5em 0; }
  .card .progress {
    margin: 1em 1em .5em;
    background-color: rgba(74, 144, 226, 0.5);
    height: 0.45em;
    position: relative;
    border: none;
    padding: 0; }
    .card .progress div {
      position: absolute;
      left: 0;
      height: 100%;
      background-color: #4A90E2; }
  .card .interest {
    background-color: #FEED7B;
    border-color: #e0c61a;
    border-top: 1px solid #DADADA; }
    .card .interest dd {
      font-weight: bold; }
  .card footer {
    display: block;
    padding: 1em 1em;
    border-top: 1px solid #DADADA;
    margin-top: auto; }
    .card footer a {
      margin: 0; }

dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  dl dd {
    text-align: right; }

.reference-card, .overall-description {
  border: 1px solid #DADADA;
  padding: 2rem;
  margin: 4rem 0; }

.overall-description dt {
  width: 15rem;
  text-align: right; }

.sr-only {
  font-size: 0px;
  text-indent: 10000px;
  width: 0;
  height: 0;
  overflow: hidden;
  color: transparent; }

.sum {
  font-size: 3rem; }
/*# sourceMappingURL=style.css.map */