::selection {
	background-color: #6c71c4;
	color: white;
}

body {
	margin: 0;
	font: small sans-serif;
	background: #fdf6e3;
	color:#363636;
}

td,th {
	padding-left: 0;
	text-align: left;
	vertical-align: top;
	padding-bottom:3px;
}



th{
	font-size: 20px;
	padding-right:20px;
	padding-bottom:15px;
	
}

tr {
	
}

table{
	
	padding: 1em;
	
	font: small sans-serif;
}

span {
	
}

div {
	margin-bottom: 1em;
}

/* High-Level Debug Page Elements*/
#errorInfo {
	background-color: #073642;
	color: #EDE8DF;
	border-top: 1px solid #1B4F5C;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.42);
}

#errorInfo td {
	color: white;
	font-size: 14px;
	padding-right: 1em;
}

#errorInfo .traceLine, #errorInfo .className, #errorInfo .methodName, #errorInfo .fileLocation  {
	font-size: 15px;
}

#errorInfo .fileName {
	color: #dc322f;
}

.lineNumber {
	color: #268bd2;
}

.methodName {
	color: #5F8709;
	font-weight: bold;
}

.className {
	color:  #B58902;
	font-weight: bold;
}

#errorInfo .classPackage {
	color:	#B58949;
}

#errorInfo table td {
	font-weight: bold !important;
	font-size: 13px;
}
#errorInfo .level0, #errorInfo .traceException {
		font-family:Menlo, Monaco, Inconsolata, "Lucida Console", monospace;
		font-weight: normal;
}

/*stacktrace*/
.externalException {
	opacity:0.3;
	filter:alpha(opacity=30); /* For IE8 and earlier */
}

.externalException:hover {
	opacity:0.6;
	filter:alpha(opacity=60); /* For IE8 and earlier */
}

.fileName {
	color: #DC3209;
}

.traceExceptionClassPackage {
	color: #B58949;
	font-weight: bold;
	font-size: 15px;
}

.traceExceptionClass {
	color:	#DC3209;
}
.classPackage {
	color:	#b58900;
}

.traceExceptionClassName {
	color:  #dc322f;
}

#userInfo{
	
}

#requestInfo{
	
}

#mappingInfo{
	
}

#requestContextInfo{
	
}

#sessionContextInfo{
	
}

#extraInfo {
	
}

#stackTrace table{
	font-family:Menlo, Monaco, Inconsolata, "Lucida Console", monospace;
	line-height: 1.75em;
}

#debugPage {
	background-color: #002b36;
	color: white;
	margin-bottom: 0;
	padding: 1em;
	font-size: 13px;
}

.debugTitleException{
	font-family:Menlo, Monaco, Inconsolata, "Lucida Console", monospace;
}

.debugTitleCause{
	margin-top:-15px;
	
}

/* High-Level Stack Trace Elements*/
.traceFirstLine {
	font-size: 14px;
	line-height: 1.5em
}
.traceLine {
	
}

/* Mid-Level Stack Trace Elements*/
.traceLineRole {
	padding-right: 1ex;
	font-weight: bold;
}

traceThread{
	
}

traceException{
	
}

.traceLocation {
	
}

/* Trace Location Elements */
.javaLocation {
	
}

.fileLocation {
	
}

/* Trace Exception Elements */

.traceExceptionClassLabel {
	padding-right: 1ex;
}

.traceExceptionMessage {
	font-style: italic
}

/* Java Location Elements */
/* File Location Elements */

/* Stack Trace Fixed Texts*/
.causeText { 
	
}

.suppressedText {
	
}

.unknownSourceText {
	
}

/* Stack Trace Indent Levels 
 * Having more than 3 levels will be very very rare. Still, they are technically infinite.
 * While CSS data parameters are not implemented in browsers we must use explicit class levels.
 * When they are, use in the css:
 * .level {
 *		padding-left: attr(padding)px
 * }
 * , in the html:
 * class="level" data-padding="<bean:write name="level"/>"
 * and in the java change the level increment accordingly.
 */
.level0 {
	padding-left: 0ex;he monotones have symmetric CIELAB lightness differences, so switching from dark to light mode retains the same perceived contrast in brightness between each value. Each mode is equally readable. The accent colors are based off specific colorwheel relations and subsequently translated to CIELAB to ensure perceptual uniformity in terms of lightness. The hues themselves, as with the monotone *a*b values, have been adjusted within a small range to achieve the most pleasing combination of colors.
}

.level1 {
	padding-left: 5ex;
}

.level2 {
	padding-left: 10ex;
}
requestInfoTable
.level3 {
	padding-left: 15ex;
}

.level4 {
	padding-left: 20ex;
}

.level5 {
	padding-left: 25ex;
}

.normalIndent {
	padding-left: 7ex;
}

.suppressedIndent {
	padding-left: 8ex;
}

.causeIndent {
	padding-left: 7ex;
}

.userRole {
	font-family:Menlo, Monaco, Inconsolata, "Lucida Console", monospace;
	margin-bottom:5px;
}

.label {
	font-weight:bold;
	color:#545454;
	padding-right: 20px;
}

.value{
	font-family:Menlo, Monaco, Inconsolata, "Lucida Console", monospace;
}

.label.key{
	font-size:12px;
	color:#585B61;
}

.super-table {
	padding-bottom: 0;
}

.parameters-table {
	padding-top: 0;
	margin-left:1em; padding: 1em; background:white; border:1px solid #CECECE;
	line-height: 1.75em;
}