.fenixCalendar {
width: 80%;
padding: 0;
border-collapse: collapse;
}

.fenixCalendar_monthRow {
color: #000000;
font-weight: 600;
background: #bbb;
text-align: center;
}

.fenixCalendar_weekRow td {
border: 1px solid #bbb;
}

.fenixCalendar_daysOfWeek td {
color: #ffffff;
font-weight: 600;
text-align: center;	
background: #000000;
border: 1px solid #000;
border-bottom: 1px solid #bbb;
width: 16.7%;
}

.fenixCalendar_defaultDay{
text-align: right; 
background: #eee;
border-left: 1px solid #bbb; 
border-right: 1px solid #bbb; 	
width: 16.7%;		
}

.fenixCalendar_dayWithObjectOccurence{
text-align: right;
background: #ddd;
border-left: 1px solid #bbb; 
border-right: 1px solid #bbb; 	
width: 16.7%;	
}

.greyBorderClass {
background-color: #eee;
border: 1px solid #909090;
width: 100%
}
.blackBorderClass {
background-color: #ffffff;
border: 1px solid #909090;
}
.boldFontClass { 
font-weight: bold
}
