#fenixEduBar {
	margin: 0px;
	padding: 0px;
	padding-left: 25px;
	padding-right: 0px;
	border: 0px;
	width: 100%;
	height: 34px;
	
	float: left;
	position: relative;
	z-index: 999;
	display: block;
	
	/*font*/
	font-size: 0.85em;
	font-family: 'KlavikaRegularPlain', Arial, Helvetica, sans-serif;
	
	/*Background*/
	background: #555555; /* Old browsers */
	*background: #555555 !important; /* Ie7 */
	background: -moz-linear-gradient(left, rgba(59,59,59,1) 0%, rgba(85,85,85,1) 40%, rgba(85,85,85,1) 60%, rgba(59,59,59,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(59,59,59,1)), color-stop(40%,rgba(85,85,85,1)), color-stop(60%,rgba(85,85,85,1)), color-stop(100%,rgba(59,59,59,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(59,59,59,1) 0%,rgba(85,85,85,1) 40%,rgba(85,85,85,1) 60%,rgba(59,59,59,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(59,59,59,1) 0%,rgba(85,85,85,1) 40%,rgba(85,85,85,1) 60%,rgba(59,59,59,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(59,59,59,1) 0%,rgba(85,85,85,1) 40%,rgba(85,85,85,1) 60%,rgba(59,59,59,1) 100%); /* IE10+ */
	background: linear-gradient(left, rgba(59,59,59,1) 0%,rgba(85,85,85,1) 40%,rgba(85,85,85,1) 60%,rgba(59,59,59,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#555555',GradientType=1); /* IE6-9 */
	
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}

#fenixEduBar h1 {
	font-family: 'KlavikaRegularPlain', Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	z-index: 1000;
}

#fenixEduBar a {
	color: #DDD;
	text-decoration: none;
}
#fenixEduBar a:hover {
	color: #00CCFF;
}
#fenixEduBar #institutionLogo {
	float: left;
	font-weight: normal;
	
	width: 180px;
	height: 23px;
	line-height: 12px;
	
	margin: 0px 0px;

	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 11px;
}

#fenixEduBar #authentication  {
	display: block;
	height: 34px;
	position: absolute;
	right: 0;
	top: 0;
	width: 273px;
	z-index: 1000;
}

#fenixEduBar #user {
	float: left;
	color: #ddd;

	height: 23px;
/* 	width: 84px; */

	text-transform: uppercase;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;

	margin: 0px 0px;
	
	padding-bottom: 0px;

	padding-left: 0px;
	padding-right: 20px;
	padding-top: 11px;

}

#fenixEduBar #logout {
	color: rgb(255, 255, 255);
	display: block;
	float: left;
	font-family: KlavikaRegularPlain, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 29px;
	line-height: 12px;
	text-transform: uppercase;
	width: 100px;
	z-index: auto;
	margin-top: 0px;
}

#fenixEduBar #logout .button {
	float: left;
	background-color: rgba(51, 51, 51, 0.498039);
	cursor: auto;
	font-weight: normal;
	line-height: 12px;

	height: 18px;
	width: 100px;
	
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5px;
	
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 6px;
	
	text-align: center;
	text-decoration: none solid rgb(221, 221, 221);
	text-transform: uppercase;
}

#fenixEduBar #logout .button:hover {
	background-color: rgba(51, 51, 51, 0.8);
}