table.asd tr {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

table.asd tr.clear {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

table.asd tr h4 {
	font-weight: normal;
}

table.asd tr.disabled {
	color: #888;
}

table.asd tr td {
	border: 0px solid #000;
	vertical-align: top;
}

table.asd tr th,table.asd tr td {
	padding: 0.5em 1em;
}

table.asd tr.heading th {
	text-align: left;
}

table tr.disabled td {
	color: #bbb;
}

table tr.disabled td span.success0 {
	color: #555;
	background: #e5e5e5;
}

.photo img {
	width: 185px;
	height: 135px;
	margin: 10px;
	border: 2px solid #f6f4ed;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}