/* dotist  Gesdids Administracao CSS - 11.04.2003 */

/**************************************** 
	Global Text Proprieties 
*****************************************/

body {
	font: 11px/16px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	text-align: left;
	margin: 0px;
	}

table {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #333;
	background-color: transparent;
	}

h1	{
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	background-color: transparent;
	}

h2	{
	font: 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #003366;
	background-color: transparent;
	}
	
h3 {
	font: 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #999;
	background-color: transparent;
	}
	
h4 {
	font: 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #666;
	background-color: transparent;	
	}
	
.px9 {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	color: #999;
	background-color: transparent;
	}

/******************************************
	Global Links Proprieties
*******************************************/

a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00427b;
	text-decoration: underline;
	}

a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00427b;
	background-color: transparent;
	}

a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #00427b;
	background-color: transparent;
	}

a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00427b;
	text-decoration: none;
	}

/******************************************
	NavGeral Links Proprieties
*******************************************/
	
.navopgeral a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	}

.navopgeral a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
	}

.navopgeral a:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: transparent;
	color: #B5BDD6;
	}

/********************************************
	Structural & Templating Classes
********************************************/

.centerContent {
	text-align: center;
	}
	
.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #FF9933;
	padding-right: 20px;
	padding-left: 20px;
	}

.footer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: center;
	padding: 20px;
	border-top-width: 4px;
	border-top-style: solid;
	border-top-color: #FF9933;
	}
	
.navbargeral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #003366;
	text-align: center;
	}
	
.navopgeral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #003366;
	text-align: center;
	padding: 5px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #b5bdd6;
	}

.navlateral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333;
	border-right: 1px solid #ccc;
	padding: 20px;
	}
	
.navlateral ul {
	list-style-type: square;
	}
	
.navlateral li {
	text-indent: 10px;
	margin: 5px 0 5px 0;
	}
	
.bodycontent {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #333333;
	padding: 20px;
	}


/********************************************
	navLateral links
********************************************/

.navlateral a:link {
	color: #333;
	text-decoration: none;
	background-color:transparent;
	}
	
.navlateral a:visited {
	color: #333;
	text-decoration: none;
	background-color:transparent;
	}
	
.navlateral a:hover {
	color: #333;
	background-color: #ccc;
	}

/**********************************************
	 FORMS Classes: inputs
***********************************************/

.error {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #CC0000;
	background-color: #FFFFCC;
	}
	
.inputlist {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	}
	
.inputbutton {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #b5bdd6;
	width: 100px;
}

.inputbuttonSmall {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	background-color: #b5bdd6;
	}

/*****************************************************************
	TABLE Classes: Info TD + Info TD with Icons + ListClasses
******************************************************************/

.infoIcons {
	background-color: #EBECED;
	vertical-align: middle;
	padding-left: 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333333;
	width: 15px;
	}
	
.infoop {
	background-color: #EBECED;
	vertical-align: middle;
	padding: 10px 10px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #333333;
	}
	
.infoselected {
	background-color: #FFFFCC;
	padding: 10px 20px;
	border-width: 1px;
	border-style: dotted;
	border-color: #333333;
	text-align: left;
	}
	
.formTD	{
	text-align: left;
	height: 30px;
	width: 100px;
	}
	
.listClasses	{
	background-color: #EBECED;
	border: 1px solid #ccc;
	text-align: center;
	height: 30px;
	}
	
.listClasses-header	{
	background-color: #ccc;
	font-weight: bold;
	padding: 0 0 0 20px;
	text-align: left;
	height: 30px;
	}

.tall-td {
	height: 50px;
	}
	
/* logout orange span */
.logout {color: #f93;}


/* edit, add, delete generic css buttons */

.gen-button {
	display: inline;
	margin: 0;
	padding: 0 5px 0;
	border: 1px solid #ccc;
	}
	
.gen-button a:link {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	color: #999;
	text-decoration: none;
	}

.gen-button a:visited {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
	color: #999;
	text-decoration: none;
	}

.gen-button a:hover {
	color: #666;
	}	
